.svg-clock_icons_amsterdam-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_chicago-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_hongkong-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_london-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_newyork-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_paris-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_sanfransisco-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_saopaulo-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_saopaulo_bg-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_shanghai-dims {
	width: 185px;
	height: 185px;
}

.svg-logo-b-dims {
	width: 15.8px;
	height: 24.9px;
}

.svg-logo-cgarry-dims {
	width: 100.1px;
	height: 25.6px;
}

.svg-logo-m-dims {
	width: 29.3px;
	height: 25.6px;
}

.svg-logo-owen-dims {
	width: 78.6px;
	height: 24.9px;
}

.svg-marquee_down_arrow-dims {
	width: 19px;
	height: 10px;
}

.svg-menu_dropdown_arrow-dims {
	width: 7px;
	height: 4px;
}

.svg-more_button-dims {
	width: 18px;
	height: 18px;
}

.svg-playbutton-dims {
	width: 42px;
	height: 42px;
}

