.svg-clock_icons_amsterdam-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_chicago-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_hongkong-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_london-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_mexicocity-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_newyork-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_paris-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_sanantonio-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_sanfransisco-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_saopaulo-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_saopaulo_bg-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_shanghai-dims {
	width: 185px;
	height: 185px;
}

.svg-clock_icons_singapore-dims {
	width: 185px;
	height: 185px;
}

.svg-facebook-dims {
	width: 6.7px;
	height: 13.5px;
}

.svg-icon_baseball-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_basketball-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_carpetTiles-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_cats-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_computerScreens-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_croissant-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_dogs-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_eiffelTower-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_employees-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_floor4-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_fogMeter-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_foreignAccents-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_gnomes-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_goldenGateBridge-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_grills-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_languages-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_libertyLondonDepartmentStore-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_location-dims {
	width: 100px;
	height: 100px;
}

.svg-icon_mail-dims {
	width: 100px;
	height: 100px;
}

.svg-icon_merlion-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_nationalities_01-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_nationalities_02-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_phone-dims {
	width: 100px;
	height: 100px;
}

.svg-icon_popsicles-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_seaLevel-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_snacks-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_stuffedDogs-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_teacups-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_twoFLoors-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_umbrellas-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_web-dims {
	width: 100px;
	height: 100px;
}

.svg-icon_whiteBoards-dims {
	width: 288px;
	height: 288px;
}

.svg-icon_windows-dims {
	width: 288px;
	height: 288px;
}

.svg-instagram-dims {
	width: 13.5px;
	height: 13.5px;
}

.svg-linkedin-dims {
	width: 100px;
	height: 100px;
}

.svg-logo-b-dims {
	width: 15.8px;
	height: 24.9px;
}

.svg-logo-cgarry-dims {
	width: 100.1px;
	height: 25.6px;
}

.svg-logo-m-dims {
	width: 29.3px;
	height: 25.6px;
}

.svg-logo-owen-dims {
	width: 78.6px;
	height: 24.9px;
}

.svg-marquee_down_arrow-dims {
	width: 200px;
	height: 200px;
}

.svg-mb_timeline_path-dims {
	width: 900px;
	height: 292.5px;
}

.svg-mb_timeline_stroke-dims {
	width: 600px;
	height: 127.4px;
}

.svg-menu_dropdown_arrow-dims {
	width: 612px;
	height: 792px;
}

.svg-menu_grid-dims {
	width: 30px;
	height: 30px;
}

.svg-more_button-dims {
	width: 18px;
	height: 18px;
}

.svg-playbutton-dims {
	width: 288px;
	height: 288px;
}

.svg-twitter-dims {
	width: 13.3px;
	height: 11px;
}

