.svg-facebook-dims {
	width: 6.7px;
	height: 13.5px;
}

.svg-instagram-dims {
	width: 792px;
	height: 612px;
}

.svg-linkedin-dims {
	width: 792px;
	height: 612px;
}

.svg-marquee_double_arrow-dims {
	width: 200px;
	height: 200px;
}

.svg-marquee_down_arrow-dims {
	width: 200px;
	height: 200px;
}

.svg-menu_double_arrow-dims {
	width: 612px;
	height: 792px;
}

.svg-menu_dropdown_arrow-dims {
	width: 612px;
	height: 792px;
}

.svg-more_button-dims {
	width: 18px;
	height: 18px;
}

.svg-playbutton-dims {
	width: 288px;
	height: 288px;
}

.svg-twitter-dims {
	width: 792px;
	height: 612px;
}

