.svg-chicago-dims {
	width: 100px;
	height: 100px;
}

.svg-heart-dims {
	width: 16px;
	height: 16px;
}

.svg-music-dims {
	width: 16px;
	height: 16px;
}

.svg-new_york-dims {
	width: 100px;
	height: 100px;
}

.svg-san_franisico-dims {
	width: 100px;
	height: 100px;
}

