#overlayContent{
	#allCultureWrapper{
		padding-top:100px;
		margin:0 auto;
		
		#filterOptions {
			
			text-align: center;
			
			input.cityFilter {
				display: none;
				
				&~label {
					display: inline;
					margin-left: 1em;
					margin-right: 1em;
					margin-top: 1em;
				
					font-weight: bold;
					color: #58595b;
					cursor: pointer;
		
					&:hover,&.active {
						color: #46ccc5;
					}
				
					&:first-of-type {
						margin-left: 0;
					}
				
					&:last-of-type {
						display: inline-block;
					}
				}
			}
		}
		
		.cultureContent{
			width:100%;
			.cultureTile{
				transition:width 300ms,margin 300ms;
				&.hide{ 
					width:0px;
					margin:0;
				}
				&.static{
				    height: 0px!important;
				    overflow: hidden;
				    margin: 0;
				    padding: 0;
				    margin-top: -1px;
				    max-height: 0px;
				    min-height: 0px;
				}
			}
			
			
		}
		.cultureHeadline{
			h1{
			    color: #46ccc5;
			    text-transform: uppercase;
			    font-size: 2em;
			    font-family: 'Din-Bold', sans-serif;
			    line-height: 1em;
			}
		}
		.cultureTile{
			min-height:150px;
		}
		
	}
}