#overlayContent{
	.contentWrapper{
		padding-top:120px;
		max-width:1280px;
		margin:0 auto;
		.cultureHeadline{
			h1{
			    color: #46ccc5;
			    text-transform: uppercase;
			    font-size: 2em;
			    font-family: 'Din-Bold', sans-serif;
			    line-height: 1em;
			}
		}
		
	}
}