
@mixin bgsizeFixMS {
	-ms-behavior: url(backgroundsize.min.htc);
}

@mixin placeholder-color($color) {
	::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $color;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $color;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $color;
	}
}


@mixin last() {
	margin-right: 0;
}

@mixin first() {
	margin-left: 0;
}

@mixin alignLeft() {
	text-align: left;
}

@mixin alignRight() {
	text-align: right;
}

.alignRight {
	@include alignRight();
}

#OurWork {
	min-height: 500px;
}

#OurPeople {
	min-height: 500px;
}

#OurOffices {
	min-height: 500px;
}

#JoinTeam {
	min-height: 200px;
}

h1 {
	margin: 0;
	
	&.sectionHeading {
		font-family: 'Din-Regular', san-serif;
		font-size: 3.125em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		margin-top: 1.5em;
	}
}

.portfolioContent {
	margin-top: 1.2em;
	-js-display: flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-around;
}

.projectTile {
	position: relative;
	width: 24%;
	max-height: 328px;
	height:	auto;
	margin: 0.375em;
	overflow: hidden;
	
	a {
		display: block;
		cursor: pointer;
		
		picture{
			position:relative;
			top:0;
			left:0;
			transition: top .3s .2s, left .3s .2s;
		}
		
		.prjDescription {
			-js-display: flex;
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;
			
			&::before {
				content: " ";
				background-color: #46ccc5;
				position: absolute;
				width: 150%;
				height: 150%;
				top: 100%;
				left: 100%;
				transform: scale(1) rotateZ(45deg);
				transition: transform 1s, top 1s cubic-bezier(0.215, 0.61, 0.355, 1), left 1s cubic-bezier(0.215, 0.61, 0.355, 1);
				z-index: 0;
			}
			
			.prjDscrWrap {
				z-index: 1;
				opacity: 0;
				top: 10%;
				position: relative;
				transition: top 0.3s 200ms, opacity 0.3s 200ms;
				
				h1 {				
					font-family: 'Din-Bold', san-serif;
					text-transform: uppercase;
				}
		
				p {
					margin-top: 0.3em;
					margin-bottom: 0;
				}
			}	
		}
		
		&:hover {
			picture{
				top:-15px;
			}
			.prjDescription {
				
				.prjDscrWrap {
					top: 0;
					opacity: 1;
				}
				
				&::before {
					top: 75%;
					left: 0;
					transform:  scale(3.5) rotateZ(25deg);
				}
			}
		}
	}
}

.col-2-by-1 {
	flex-basis: 49%;
}
	


.cultureContent {
	margin-top: 1.2em;
	-js-display: flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-around;
}

.cultureTile {
	position: relative;
	width: 23.99999%;
	max-height: 328px;
	margin: 0.375em;
	overflow: hidden;
	transition: margin 300ms, width 300ms;
	
	picture{
		margin-left:0;
		transition: margin 300ms;
	}
	
	&.stretchOut {
		width: 48.9%;
		
		.bio {
			opacity: 1;
			top: 0%;
			visibility: visible;
		}
		
		.arrow {
	    	border-top: 1000px solid transparent !important;
	    	border-right: 1000px solid #46ccc5 !important;
		}
	}
	
	&.shrinkMe {
		width: 0%;
		margin-left: 0;
		margin-right: 0;
		picture{
			margin-left:-50%;
		}
	}
	
	a {
		display: block;
		cursor: pointer;
		
		.bio {
			-js-display: flex;
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 10%;
			left: 0;
			z-index: 9999;
			opacity: 0;
			visibility: hidden;
			transition: opacity 500ms 300ms, top 500ms 300ms;
		}
		
		.arrow {
		    position: absolute;
		    width: 0%;
		    height: 0%;
		    bottom: 0;
		    right: 0;
		    border-left: 0 solid transparent;
		    border-top: 50px solid transparent;
		    border-right: 50px solid #46ccc5;
		    border-bottom: 0 solid transparent;
			z-index: 2;
			
			transition: width 500ms, height 500ms, border-top 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55), border-right 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		
		&:hover { 
			.arrow {
		    	border-top: 75px solid transparent;
		    	border-right: 75px solid #46ccc5;
			}
			
			
		}
	}
}



#clientList {
	display: none;
	cursor: crosshair;
	
	ul {
		margin-top: 2em;
		font-size: 0.9em;
		color: #000;
		list-style: none;
		text-align: left;
		padding: 0;
		-js-display: flex;
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
		justify-content: space-between;
		
		li {
			width: 23%;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			flex-shrink: 2;
		}
	}
}

