
@mixin bgsizeFixMS {
	-ms-behavior: url(backgroundsize.min.htc);
}

@mixin placeholder-color($color) {
	::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $color;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $color;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $color;
	}
}


@mixin last() {
	margin-right: 0;
}

@mixin first() {
	margin-left: 0;
}

@mixin alignLeft() {
	text-align: left;
}

@mixin alignRight() {
	text-align: right;
}

.alignRight {
	@include alignRight();
}

/* fade image in after load */
.lazyload,
.lazyloading {
//    opacity: 0;
//	transform: scale(1.25);
}
.lazyloaded {
//    opacity: 0;
//	transform: scale(1.25);
}

.lazy {
//	opacity: 0!important;
//	transform:scale(1.25)!important;
}