
@mixin bgsizeFixMS {
	-ms-behavior: url(backgroundsize.min.htc);
}

@mixin placeholder-color($color) {
	::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $color;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $color;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $color;
	}
}


@mixin last() {
	margin-right: 0;
}

@mixin first() {
	margin-left: 0;
}

@mixin alignLeft() {
	text-align: left;
}

@mixin alignRight() {
	text-align: right;
}

.alignRight {
	@include alignRight();
}

.moreButton {
	position: relative;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	transition:height 500ms 500ms,margin 500ms 500ms,opacity 500ms;
	height:0;
	opacity:0;
	
	&.active{
		height:34px;
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		opacity:1;
	}
	
	svg {
		fill: #46ccc5;
	}
}

.closeMe {
	position: absolute;
	top: 3%;
	right: 3%;
	transform: rotateZ(45deg);
	cursor: pointer;
	
	svg {
		fill: white;
	}
}


/* fade image in after load */
.lazyload,
.lazyloading {
    opacity: 0;
	transform:scale(1.25);
}
.lazyloaded {
    opacity: 0;
	transform:scale(1.25);
}

.lazy {
	opacity: 0!important;
	transform:scale(1.25)!important;
}

.blueFont {
	color: $skyblueColor; 
}
