
/* WORK TEMPLATE */

.workContainer{
	width:100%;
	margin:0em auto;
	padding:2em 0;
	.returnHome{
		text-transform:uppercase;
		font-family: 'Open Sans', sans-serif;
	}
	
	.workHeadline{
		width:90%;
		margin:0 auto 1em;
		h1{
			color:$skyblueColor;
			text-transform:uppercase;
			font-size:2em;
			font-family: 'Din-Bold', sans-serif;
			line-height:1em;
		}
		p{
			font-style:italic;
			font-size:1em;
			margin:0;
		}
	}

	.workDetails{
		width:100%;
		margin-bottom:0em;
		display: inline-block;
		.workCopy{
			width:90%;
			margin:0 auto;
		    margin-bottom: 1em;
			p{
				padding-bottom: 1em;
				margin:0 0 1em; 
			}
			.moreArrow{
				transform:rotateZ(-90deg);
				//top: -0.39em;
				right: -0.5em;
				display: inline-block;
				position:relative;
			}
		}
		.workThumbs{
			width:100%;
			float:left;
			margin-top:1em;
			.workThumb{
				width:49%;
			    margin: .5%;
				float: left;
				
				img{width:100%;}
				
				a {
					display: block;
					cursor: pointer;
					overflow:hidden;
					position:relative;
		
					.prjDescription {
						display: flex;
						flex-flow: column;
						justify-content: center;
						position: absolute;
						width: 100%;
						height: 100%;
						text-align: center;
						top: 0;
						left: 0;
						overflow:hidden;

						.cultureArrow {
							position: absolute;
							width: 0%;
							height: 0%;
							bottom: 0;
							right: 0;
							border-left: 0 solid transparent;
							border-top: 0px solid transparent;
							border-right: 0px solid #46ccc5;
							border-bottom: 0 solid transparent;
							z-index: 1;
							transition: border-top 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
						}

						.prjDscrWrap {
							z-index: 2;
							opacity: 0;
							top: 10%;
							position: relative;
							transition: top 300ms, opacity 300ms;
							padding: 0.5em;
							h3 {
								font-family: 'Din-Bold', sans-serif;
								text-transform: uppercase;
								font-size: 1em;
							}
						}	
					}
		
					&:hover,&.active {
						.prjDescription {
							.cultureArrow {
								border-top: 800px solid transparent;
								border-right: 800px solid #46ccc5;
							}
					
							.prjDscrWrap {
								top: 0%;
								opacity: 1;
								transition: top 300ms 200ms, opacity 300ms 200ms;
							}
						}
					}
				} 
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.workContainer{
		.workDetails{
			.workThumbs{
				.workThumb{
					width:32.3%;
				}
			}			
		}
	}
}

@media screen and (min-width: 1024px) {
	.workContainer{
		max-width: 80%;
		.workHeadline{
			max-width:100%;
			float:left;
			margin:0 0 1em;
		}
		.workDetails{
			.workCopy{
				width:50%;
				float:left;
				//margin:0;
			}
			.workThumbs{
				width:45%;
				margin-left:5%;
				float:right;
				margin-top:0em;
				.workThumb{
					float:right;
					width:30%;
					margin: 0 0 2.5% 2.5%;
					a {
						&:hover,&.active {
							.prjDescription {
								.cultureArrow {
									border-top: 600px solid transparent;
									border-right: 600px solid #46ccc5;
								}
							}
						}
					}
				}
			}			
		}
	}
}
