
#internalContent #extendedBioWrapper{
	padding-top:60px;
	
	.picColumn{
		width:100%;
		float:left;
		padding-bottom:25px;
		.picHolder {
		    width: 100%;
//			margin: 0 auto;
overflow:hidden;
			padding-bottom:25px;
		}
		.in-view {
			opacity: 1;
			transform:scale(1);
			transition: opacity 1s 50ms, transform 1s 50ms;
		}
	}
	
	.bioColumn{
		width:100%;
		float:left;
		.name{
			font-size:36px;
			color:$skyblueColor;
//			font-weight:700;
			font-family:Din-Bold, sans-serif;
			line-height: 1em;
			margin: 0.2em 0 0.4em;
		}
		.title{padding-bottom: 0.6em;margin-top:-10px;font-size:20px;font-family:Din-Regular, sans-serif;}
		.body{
//			font-size:16px;
		}
	}
}


#internalContent {
	#extendedBioWrapper{
		.cs-subnav{
//			padding-top: 2em !important;
		}
	}
}

@media screen and (min-width: 768px) {
	#internalContent #extendedBioWrapper{
//		max-width:1440px;
margin:0 auto;
		padding-top:68px;
		.picColumn{
			width:40%;
			.picHolder {
			    width: 95%;
				margin:0;
			}
		}
		.bioColumn{
			width:60%;
			.name{
			    font-size: 55px;
			    margin-top: 0px;
			    line-height: 0.9;
			    margin-bottom: 0.3em;
			}
			.body{
//				font-size:13px;
			}
		}
	}
}
