@import url("//hello.myfonts.net/count/31c3ad");

  
@font-face {font-family: 'Din-Bold';src: url('../fonts/31C3AD_0_0.eot');src: url('../fonts/31C3AD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_0_0.woff2') format('woff2'),url('../fonts/31C3AD_0_0.woff') format('woff'),url('../fonts/31C3AD_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Din-Light';src: url('../fonts/31C3AD_1_0.eot');src: url('../fonts/31C3AD_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_1_0.woff2') format('woff2'),url('../fonts/31C3AD_1_0.woff') format('woff'),url('../fonts/31C3AD_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Din-Regular';src: url('../fonts/31C3AD_2_0.eot');src: url('../fonts/31C3AD_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_2_0.woff2') format('woff2'),url('../fonts/31C3AD_2_0.woff') format('woff'),url('../fonts/31C3AD_2_0.ttf') format('truetype');}
 
 
/*@font-face {
	font-family: 'Din-Regular';
	src: url('../fonts/din-regular.eot');
	src: url('../fonts/din-regular.woff') format('woff'),
		 url('../fonts/din-regular.ttf') format('truetype');
	letter-spacing: 0.0125em;
}

@font-face {
	font-family: 'Din-Bold';
	src: url('../fonts/din-bold.eot');
	src: url('../fonts/din-bold.woff') format('woff'),
		 url('../fonts/din-bold.ttf') format('truetype');
	letter-spacing: 0.0125em;
}

@font-face {
	font-family: 'Din-Light';
	src: url('../fonts/din-light.eot');
	src: url('../fonts/din-light.woff') format('woff'),
		 url('../fonts/din-light.ttf') format('truetype');
	letter-spacing: 0.0125em;
}/*

@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/gotham-light.eot');
	src: url('../fonts/gotham-light.woff') format('woff'),
		 url('../fonts/gotham-light.ttf') format('truetype');
}*/

