@import url("//hello.myfonts.net/count/31c3ad");

  
@font-face {font-family: 'Din-Bold';src: url('../fonts/31C3AD_0_0.eot');src: url('../fonts/31C3AD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_0_0.woff2') format('woff2'),url('../fonts/31C3AD_0_0.woff') format('woff'),url('../fonts/31C3AD_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Din-Light';src: url('../fonts/31C3AD_1_0.eot');src: url('../fonts/31C3AD_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_1_0.woff2') format('woff2'),url('../fonts/31C3AD_1_0.woff') format('woff'),url('../fonts/31C3AD_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Din-Regular';src: url('../fonts/31C3AD_2_0.eot');src: url('../fonts/31C3AD_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31C3AD_2_0.woff2') format('woff2'),url('../fonts/31C3AD_2_0.woff') format('woff'),url('../fonts/31C3AD_2_0.ttf') format('truetype');}