footer {
	position: relative;
	background-color: #58595b;
	color: #46ccc5;
	font-size: 0.95em;
	padding: 1.25em 1em;
	z-index: 101;
	
	.legal {
		display: table-cell;
		vertical-align: center;
		float: right;
		
		p {
			&.copyright {
				color: #ffffff;
				font-family: 'Din-Regular', san-serif;
				font-size: 0.9em;
				text-align: right;
				
				a {
					color: #46ccc5;
					text-decoration: none;
				}
			}
		}
	}
}

#JoinTeam {
	text-align: center;
}