footer {
//	background: $headerFooterGray;
    width: 100%;
    padding: 1em 0 1em;

    z-index: 100;
    position: relative;
    text-align: center;
	color:$sectionHeadingColor;
	font-size:.9em!important;
	
	opacity:1;
	transition:opacity 0s 1s;
	
	.social-icons{
		padding-bottom:.5em;
		svg{
			fill:$headerFooterGray;
	}
}
p{margin:0;}
a{text-decoration:none;}
hr{width:90%;max-width:768px;margin:0 auto;
margin-bottom:1em;
	}
}

.tempHide{
	opacity:0;
	transition:opacity 0s 0s;
}