.white{background:white;}
.gray{background:$sectionHeadingColor;}

picture img{width:100%;}  

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	color: #ffffff;
	width: 100%;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
	background:white;
	&.overlayReady{
		background:$overlayColor;
	}
}

.noPadding {
	padding: 0 !important;
}

a {
	font-size: 1.1em;
	
	&:link {
		color: #ffffff;
	}

	&:visited {
		color: #ffffff;
	}

	&:hover {
		color: #ffffff;
	}

	&:active {
		color: #ffffff;
	}
}


.fullBleed {
	position: relative;
	display: block;
	width: 100%;
}

.button {
	cursor: pointer;
	background-color: #46ccc5;
    padding-top: 0.75em;
    padding-bottom: 0.8em;
    padding-left: 0.75em;
    padding-right: 0.75em;
	text-decoration: none;
	font-family: 'Din-Regular', sans-serif;
	font-size: 1.1em;
	//margin-left: 0.5%;
	//margin-right: 0.5%;
	
	&:hover {
		background-color: #4ee5dd;
	}	
}

.shadow{
	background: rgba(0,0,0,0.4);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 80%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(80%, rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 80%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 80%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 80%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}


.whiteText {
	color: $textWhite;
}

.parallaxHeader{
	position:fixed!important;
}


@media screen and (min-width: 320px) {
	.button {
	    font-size: 0.85em;
	}
}

@media screen and (min-width: 768px) {
	.button {
	    font-size: 1em;
	}
}
