picture img{width:100%;}  

html {
	height: 100%;
}

body {
	font-family: 'Gotham-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	width: 100%;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
}

.noPadding {
	padding: 0 !important;
}

a {
	font-size: 1.0625em;
	
	&:link {
		color: #ffffff;
	}

	&:visited {
		color: #ffffff;
	}

	&:hover {
		color: #ffffff;
	}

	&:active {
		color: #ffffff;
	}
}

.fullBleed {
	position: relative;
	display: block;
	width: 100%;
}

/*.headerHeroText {
	max-width: 85.625em;  // 1370px / 16px
	margin: 1.5625em auto;
	padding: 0;
	margin-top:1.5625em;
//	transition:margin 1s .5s;
}*/

.button {
	cursor: pointer;
	background-color: #46ccc5;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    padding-left: 0.75em;
    padding-right: 0.75em;
	text-decoration: none;
	font-family: 'Din-Regular', san-serif;
	font-size: 1.0625em;
	
	&:hover {
		background-color: #4ee5dd;
	}	
}

@media screen and (min-width: 320px) {
	.button {
	    font-size: 0.85em;
	}
}