#Home {
	height: auto;
	width: 100%;
	position: relative;
//	overflow: hidden;
	display: block;
	transition:height 500ms,top 500ms;
	height:60px;
	z-index:99999;
	position:fixed;
	top: 0px;
	
	
	
	nav {
		position: relative;//fixed;
		width: 100%;
		height: 60px;
		//margin-top: 0.5em;
		display: inline-block;
		top:-100px;
		transition: top 1s 1000ms;
		.container{
			max-width: 100%;
			margin: 0 auto;
			#navWrapper {
			    width: 100%;
			    position: absolute;
			    top: 6px;
			    display: inline-block;
			    float: right;
			    right: 0;
			}
			
		}

		#homeLogo{
			/* MB LOGO */

			#mbLogo {

			    overflow: hidden;
			    width: 240px;
			    height: 70px;
			    display: inline-block;
				position:relative;
				transition: margin 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	
	
			    margin-top: 4px;
			    margin-left: -16px;
	
				transform: scale(.8);
				&.mobile{
					margin-top:-10px;
					//margin-left:4px;//8px;
				}

				#mcgarryTXT{
					top:36px;
					left:7px;
					position:absolute;

					#m{
						width:31px;
						height:27px;
						overflow:hidden;
						position:absolute;
					}

					#cgarryContainer{
						width:0px;
						height:27px;
						left:30px;
						overflow:hidden;
						position:absolute;

						#cgarry{
							width:102px;
							height:27px;
							left:0px;
							overflow:hidden;
							position:absolute;
						}
					}
				}

				#bowenTXT{
					position:absolute;
					top:28px;
					left:40px; 

					#b{
						width:17px;
						height:27px;
						overflow:hidden;
						position:absolute;
					}

					#owenContainer{
						width:0px;
						height:27px;
						left:18px;
						overflow:hidden;
						position:absolute;
						#owen{
							width:80px;
							height:27px;
							left:0px;
							overflow:hidden;
							position:absolute;
						}
					}
				}
			}

			/* end MB LOGO */
		}
		
		#menuToggleHolder{
			width:49px;
			height:49px;
			position:absolute;
			right: -1px;//4px;
			top:-1px;
			display:inline-block;
			cursor: pointer;
			overflow:hidden;
			transform:rotate(0deg) scale(.85);
			transition:right 200ms 100ms,top 200ms 0ms,transform 400ms 200ms;//right 400ms 200ms,
			
			
			#menuToggle{
				width:50px;
				height:50px;
				//background:blue;
				position:relative;
				//background:gray;
				left:25px;
				top:25px;
				width:100%;
				height:100%;
				position: relative;

				div {
					position: absolute;
					border-radius: 25px;
					transform-origin:center;
					.hamDot{
	
						width: 8px;
						height: 8px;
						border: 0px solid white;
						opacity: 1;
						top: -4px;
					    left: -4px;
					    position: relative;
						background:rgba(255,255,255,1);
				
					}
			
					&#ham1 {
						top: -15px;
						transition:top 300ms 500ms;
						.hamDot{
							transition:transform 300ms,width 300ms,height 300ms,left 300ms,top 300ms;
						}
					}
			
					&#ham2 {
						.hamDot{
							border:2px solid white;
							width:4px;
							height:4px;
							left:-4px;
							top:-4px;
							transition:top 300ms 150ms,left 300ms 150ms,width 300ms 150ms,height 300ms 150ms,background 0ms 450ms;}
						}

					&#ham3 {
						top: 15px;
						transition:top 300ms 500ms;
						.hamDot{
							transition:transform 300ms,width 300ms,height 300ms,left 300ms,top 300ms;
						}
					}
				}
			}
			&.active{
				transform: rotate(225deg) scale(.8);
				right: 4px;
				transition:right 200ms 100ms,transform 400ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);//right 300ms 350ms,
				#menuToggle{
					.hamDot{
					}
					#ham1{
						top:0px;
						transition:top 300ms;
						.hamDot{
						    width: 21px;
						    left: -11px;
						    height: 3px;
						    top: -2px;
							transition:transform 300ms 400ms,width 300ms 400ms,height 300ms 400ms,left 300ms 400ms,top 300ms 400ms;
						}
					}
		
					#ham2{
						.hamDot{
							width:37px;height:37px;
							left:-21px;top:-21px;
							background:rgba(255,255,255,0);
							transition:top 300ms 300ms,left 300ms 300ms,width 300ms 300ms,height 300ms 300ms, background 0ms 300ms;
						}
					}
					#ham3{
						top:0px;
						transition:top 300ms;
						.hamDot{
						    width: 3px;
						    left: -2px;
						    height: 21px;
						    top: -11px;
							transition:transform 300ms 400ms,width 300ms 400ms,height 300ms 400ms,left 300ms 400ms,top 300ms 400ms;
						}
					}
				}
			}
		}
		
		ul.menu {
			//background-color: rgba(107, 109, 111, 1.0);
			position: relative;
			float: left;
			list-style: none;
			text-align: center;
		    padding-left: 0;
		    padding-right: 1em;
			padding-top: 1em;
			margin-top: 0em;
			margin-bottom: 0;
			width: 20%;
			height: 100%;
			overflow:hidden;
//			right: -100%;//150%;
			
margin:0;
padding:0;
width:0%;
height:0%;
			
			
			top: 0;
		    display: flex;
		    align-items: center;
		    flex-flow: column nowrap;
		    align-self: center;
		    justify-content: space-around;
			li {
				display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				opacity:0;
				transition:opacity 300ms 500ms;
				a {
					text-decoration: none;
				}
			}
	
			&.active {
				position: fixed;
				right: 0%;
				transition: right 400ms;
			}
	
			&.mobile{
				position: absolute;
			    right: 0%;
			    width: 100%;
			    font-size: 3em;
			    margin: 0;
			    padding: 0;
			    top: 12%;
			    line-height: 2em;
			    font-family: 'Din-Bold', sans-serif;
			    height: 79%;

				li{
					margin:0;
					opacity:1;
			
				}
			}
			
		}
		
		&.settle{
			top:0;
		}
	}
	
	&:before{
		content: '';
	    width: 100%;
	    height: 100%;
	    background-color: $headerFooterGray;
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: block;
		transition:opacity 300ms;
		opacity:0;

	}
	
	&.sticky{
		&:before{
			opacity:1;
		}
		nav {
			#menuToggleHolder{
				//top:5px;
			}
			#homeLogo {
				#mbLogo{
					margin-top:-12px;
					//margin-left:4px;//8px;
				}
			}
			
		}
	}
	
	&.removed{
		top:-100px;
		nav{position:relative;}
	}
	
	&.mobile{
		//height:100%;
		//background-color:gray;
	    position: fixed;
		height:100%;
	    z-index: 999;
		#navWrapper{
			width:100%;
			height:100%;
		}
		&:before{
			opacity:1;
			//height:100%;
			
		}
		nav{
			height:100%;
			.container{
				#navWrapper{
//					width:100%;
//					right:0;
					.flag,.dk-select,#office-selector{
						z-index:-1;
					}
				}
			}
			//position: absolute;
		   // top: 0;
		}
	}
}



.no-autoplay{
	#welcomeVideo{display:none;}
	#welcomeImage {
		width:100%;
		height:100%;
		background:url('../img/common/starrettLehigh.jpg') center center;
		background-size:cover;
		position:absolute;
	}
}

.videoHeader {
	font-family: 'Din-Bold', Helvetica, Arial, sans-serif;
	font-size: 1.75em;
	
	display: block;
	width: 100%;
	height: 0px;
	position: relative;
	
	transition: height 1s 0s;
	overflow:hidden;
	//margin-bottom:100%;
	
	&.settle{
		//margin-bottom:0;
		transition:height 0s;//,margin 1s .5s;
		
	}
	

	#welcomeVideo {
		position: relative;
		width: 100%;
		height: 100%;	
		overflow:hidden;
		
		.responsive-video {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}	
	}
	
	.video-overlay {
		position: absolute;
		top:-100px;
		left: 0;
		width: 100%;
		min-width: 100%;
		height: 700px;
	
	    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
		background-repeat: repeat;
		-webkit-background-size: 3px 3px;
		-moz-background-size: 3px 3px;
		background-size: 3px 3px;
		background-position: center;	
	    text-align: center;
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
		
		transition:top 1s .5s;
		
		&.settle{
			top:0;
		}

		.headerHeroText {	
			font-family: 'Din-Bold', sans-serif;
			position: relative;
			font-size: 2em;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1em;
			outline: 0px solid transparent;
			cursor: pointer;
		}
		
		.moreMsg {
			font-size: 0.6em;
			text-transform: uppercase;
			display: none;
			
			.cta {
				cursor: pointer;
			}
		}
		
		
		@media screen and (min-width: 768px) {
			.headerHeroText {
				font-size: 3.5em;
				line-height: 0.9em;
			}
			
			.moreMsg {
				font-size: 1.0em;
			}
		}
	
		
		@media screen and (min-width: 1024px) {			
			.headerHeroText {
				font-size: 4em;
			}
			
			.moreMsg {
				font-size: 1em;
			}
		}
	}
	
	#downArrow {
	    position: absolute;
	    bottom: 1%;
	    left: 50%;
		margin-left:-.75em;
	}
	
}

.autoplay{
	#welcomeImage{display:none;}
}

$pinnedOffset:60px;
$pinnedPadding:10px;

.pinned{
	height:0px;
	width:100%;
	color:$sectionHeadingColor;
	padding:0 $pinnedPadding;
	margin:0;
	background:lightblue;
	overflow:hidden;
	transition:height 500ms,padding 500ms;
}

.showPinned{
	#Home{
		top:$pinnedOffset + $pinnedPadding * 2;
		nav{
			//top:$pinnedOffset + $pinnedPadding * 2;
			transition:top 500ms;
		}
	}
	#mainContent,#overlayContent{
		//top:80px;
		.parallaxHeader{
			//top:$pinnedOffset + 20px;
			position:relative!important;
		}
		.pinned{
			width:100%;
			height:$pinnedOffset;
			padding:$pinnedPadding;
		}
	}
	
	&.ishome{
		.overlayContent{
			.pinned{
				height:0px;
			}
		}
	}
	
	&.nothome{
		#mainContent{
			.pinned{
				height:0px;
				padding:0 $pinnedPadding;
			}
		}
	}
}


@media screen and (min-width: 768px) {
	
	
	#Home {
		nav {
			#homeLogo {
				#mbLogo{
					transform: scale(1);
					margin-top:3px;
					margin-left:11px;
				}
			}
		}
	}
	
	.no-autoplay{
		.videoHeader{
			#welcomeImage {
				background:url('../img/common/starrettLehigh_large.jpg') center center;
				background-size:cover;
			}
		}
	}
}


@media screen and (min-width: 768px) {
	#Home {
		nav{
			background: rgba(107, 109, 111, 0.0);
			//background-image: '';
			//background-size: 0px 0px;
			border: none;
			position: relative;//fixed;
			top: -100px;
			left: 0;
			margin-top: 1.5625em;
			width: 100%;
			z-index: 99999;
			height: 4.25em;
			opacity: 0.98;
			overflow:visible;
			transition: background 300ms, margin-top 300ms 300ms, top 1s 1000ms, height 500ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			.container{
				#navWrapper{
					width:auto;
					float:right;
					position:relative;
				}
			}
			#homeLogo{
				display: inline-block;
				position: absolute;
				top: 0px;
				transition:top 300ms;
				#mbLogo{
					margin-left:25px;
					margin-top:0px;
				}
			}
			#menuToggleHolder, .hamburger {
				display: none;
			}
			ul.menu {
				background-color: transparent;
				font-family: 'Din-Regular', sans-serif;
				height: 2.5em;
				padding-left: 0;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 1.5em;
				font-size: 0.875em;
				text-align: right;
				display: inline-block;
				list-style: none;
				width: auto;//50%;
			    float: left;
				border-color: transparent;
				border-width: 0;
				margin-top: .8em;
				right: 0;
				
				/*&:after{
					content: "|";
				    left: 3px;
				    position: relative;
				    top: -2px;
				    font-family: "Open Sans";
				}*/
				
				&.sticky{
					margin-top:.4em;
				}
		
				li {
					margin: 1em;// 1.3em;
					display: inline-block;
					opacity:1;
			
					&.logo {
						margin-right: auto;
					}
	
					a {
						display: inline-block;
						text-decoration: none;
	
						&:hover {
							color: #46ccc5;
						}
	
						&.active {
							color: #46ccc5;
						}
					}
				}
			}
			/*&.settle{
				top:0;
			}*/
			&.removed{
				top:-200px!important;
			}

			&.sticky {
				background: $headerFooterGray;
				margin-top: 0;
				transition: background 300ms 300ms, margin-top 300ms, top 1s 1s, height 500ms cubic-bezier(0.23, 1, 0.32, 1);
				#homeLogo{
					top: -11px;
				}
			}

			&.videoActive {
				height: 100%;
			    background-color: rgb(55, 56, 58);
				opacity: 1.0;
				transition: height 400ms;
			}
		}
		//height: auto;
		width: 100%;
		height:100px;
		//position: relative;
		//overflow: hidden;
		display: block;
		&.sticky{
			height:68px;
			
			nav{
				.menu{
					margin-top:.3em;
				}
				#homeLogo{
					#mbLogo{
						margin-left:25px;
						margin-top:0px;
					}
				}
			}
		}
	}
}



//ugly fix to align header at multiple sizes
@media screen and (min-width: 1024px) {
	#Home {
		nav {
			.container{
				max-width: 86%;
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	#Home {
		nav {
			.container{
				max-width: 84.5%;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	#Home {
		nav {
			.container{
				max-width: 84%;
			}
		}
	}
}

@media screen and (min-width: 1900px) {
	#Home {
		nav {
			.container{
				max-width: 82.7%;
			}
		}
	}
}