#Home {
	height: auto;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
}

/* MB LOGO */

#mbLogo {

    overflow: hidden;
    width: 260px;
    height: 70px;
    display: inline-block;
	margin-left:25px;
	transition: margin 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

	#mcgarryTXT{
		top:36px;
		left:33px;
		position:absolute;

		#m{
			width:31px;
			height:26px;
			overflow:hidden;
			position:absolute;
		}

		#cgarryContainer{
			width:0px;
			height:26px;
			left:30px;
			overflow:hidden;
			position:absolute;

			#cgarry{
				width:102px;
				height:26px;
				left:0px;
				overflow:hidden;
				position:absolute;
			}
		}
	}

	#bowenTXT{
		position:absolute;
		top:28px;
		left:66px; 

		#b{
			width:17px;
			height:26px;
			overflow:hidden;
			position:absolute;
		}

		#owenContainer{
			width:0px;
			height:26px;
			left:18px;
			overflow:hidden;
			position:absolute;
			#owen{
				width:79px;
				height:26px;
				left:0px;
				overflow:hidden;
				position:absolute;
			}
		}
	}
}

/* end MB LOGO */


nav {
	position: fixed;
	width: 100%;
	height: 4.25em;
	margin-top: 0.5em;
	display: inline-block;
	z-index: 9999;
}


@keyframes move-dots {		
	100% {
		top: 20%;
	}
}

@keyframes grow-center {
		
	100% {
	 	background-color: rgba(255, 255, 255, 0.0);
	 	border: 2px solid #fff;
		left: -13%;
		top: -15%;
		width: 2.5em;
		height: 2.5em;	
	}
}

.hamburger {
  cursor: pointer;
  transition: .5s ease-in-out;
  position: absolute;
  right: 0.5em;
  width: 2em;
  height: 2em;
  top: 0;
  //outline: 1px solid red;
  
  div {
	position: absolute;
	display: block;
	background: rgba(255, 255, 255, 1);
	left: 43%;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	border-color: #fff;
	border-width: 4px;
	transform: rotate(0);
	transform-origin: center;
	transition: transform 300ms 1s, left 300ms 1s, top 300ms 1s, height 300ms 1s, width 300ms 1s, border-radius 300ms 1s;
	
	&:nth-child(1) {
		top: -2%;
	}
	
	&:nth-child(2) {
		border: 0px solid #fff;
		top: 42%;
		transition: background-color 300ms 300ms, left 300ms 300ms, top 300ms 300ms, width 300ms 300ms, height 300ms 300ms, border 300ms 300ms;
	}
	
	&:nth-child(3) {
		top: 83%;
	}
  }
  
  &.active {
	div {	
	  &:nth-child(1), &:nth-child(3) {
		  border-radius: 30px;
		  height: 23px;
		  width: 3px;
		  left: 53%;
		  
		  animation-name: move-dots;
		  animation-duration: 300ms;
		  animation-delay: 600ms;
		  animation-fill-mode: forwards;
		  
		  transition: transform 300ms 1s, left 300ms 1s, top 300ms 1s, height 300ms 1s, width 300ms 1s, border-radius 300ms 1s;
	  }
  	  
	  &:nth-child(1) {
	  	transform: rotateZ(-45deg);
	  }
	  
	  &:nth-child(2) {		 
		 animation-name: grow-center;
		 animation-duration: 300ms;
		 animation-delay: 1s;
		 animation-fill-mode: forwards;
		 
		 transition: background-color 300ms 300ms, left 300ms 300ms, top 300ms 300ms, width 300ms 300ms, height 300ms 300ms, border 300ms 300ms;
	  }
	  
	  &:nth-child(3) {
		  transform: rotateZ(45deg);
	  }
	}
  }
}



ul.menu {
	background-color: rgba(107, 109, 111, 1.0);
	position: relative;
	display: inline-block;
	float: right;
	list-style: none;
	text-align: center;
    padding-left: 0;
    padding-right: 1em;
	padding-top: 1em;
	margin-top: 0em;
	margin-bottom: 0;
	width: 20%;
	height: 100%;
	right: -35%;
	top: 0;
	
	li {
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		
		a {
			text-decoration: none;
		}
	}
	
	&.active {
		position: fixed;
		right: 0%;
		transition: right 400ms;
	}
}


.no-autoplay{
	#welcomeImage {
		width:100%;
		height:100%;
		background:url('../img/common/starrettLehigh.jpg') center center;
		background-size:cover;
		position:absolute;
	}
}

.videoHeader {
	font-family: 'Din-Bold', Helvetica, Arial, san-serif;
	font-size: 1.75em;
	
	display: inline-block;
	width: 100%;
	height: 0px;
	position: relative;
	
	transition: height 1s .5s;
	overflow:hidden;
	margin-bottom:100%;
	
	&.settle{
		margin-bottom:0;
		transition:height 0s,margin 1s .5s;
		
	}
	

	#welcomeVideo {
		position: relative;
		width: 100%;
		height: 100%;	
		overflow:hidden;
		
		.responsive-video {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}	
	}
	
	.video-overlay {
		position: absolute;
		top:-100px;
		left: 0;
		width: 100%;
		min-width: 100%;
		height: 700px;
	
	    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
		background-repeat: repeat;
		-webkit-background-size: 3px 3px;
		-moz-background-size: 3px 3px;
		background-size: 3px 3px;
		background-position: center;	
	    text-align: center;
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
		
		transition:top 1s .5s;
		
		&.settle{
			top:0;
		}

		.headerHeroText {	
			font-family: 'Din-Bold', san-serif;
			position: relative;
			font-size: 2em;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1em;
			outline: 0px solid transparent;
			cursor: pointer;
		}
		
		.moreMsg {
			font-size: 0.6em;
			text-transform: uppercase;
			display: none;
			
			.cta {
				cursor: pointer;
			}
		}
		
		
		@media screen and (min-width: 768px) {
			.headerHeroText {
				font-size: 3.5em;
				line-height: 0.9em;
			}
			
			.moreMsg {
				font-size: 1.0em;
			}
		}
	
		
		@media screen and (min-width: 1024px) {			
			.headerHeroText {
				font-size: 4em;
			}
			
			.moreMsg {
				font-size: 1em;
			}
		}
	}
	
	#downArrow {
	    position: absolute;
	    bottom: 1%;
	    left: 50%;
		margin-left:-.75em;
	}
	
}

.autoplay{
	#welcomeImage{display:none;}
}


@media screen and (min-width: 768px) {
	.no-autoplay{
		.videoHeader{
			#welcomeImage {
				background:url('../img/common/starrettLehigh_large.jpg') center center;
				background-size:cover;
			}
		}
	}
}


@media screen and (min-width: 1024px) {
	#Home {
		height: auto;
		width: 100%;
		position: relative;
		overflow: hidden;
		display: block;
	}

	/* MB LOGO */

	#mbLogo {
	    overflow: hidden;
	    width: 260px;
	    height: 70px;
	    display: inline-block;
		margin-left:25px;
		transition: margin 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	
		#mcgarryTXT{
			top:36px;
			left:33px;
			position:absolute;
		
			#m{
				width:31px;
				height:26px;
				overflow:hidden;
				position:absolute;
			}
		
			#cgarryContainer{
				width:0px;
				height:26px;
				left:30px;
				overflow:hidden;
				position:absolute;
			
				#cgarry{
					width:102px;
					height:26px;
					left:0px;
					overflow:hidden;
					position:absolute;
				}
			}
		}

		#bowenTXT{
			position:absolute;
			top:28px;
			left:66px; /*152px*/
		
			#b{
				width:17px;
				height:26px;
				overflow:hidden;
				position:absolute;
			}
		
			#owenContainer{
				width:0px;
				height:26px;
				left:18px;
				overflow:hidden;
				position:absolute;
				#owen{
					width:79px;
					height:26px;
					left:0px;
					overflow:hidden;
					position:absolute;
				}
			}
		}
	}

	/* end MB LOGO */


	nav {
		background: rgba(107, 109, 111, 0.0);
		//background-image: '';
		//background-size: 0px 0px;
		border: none;
		position: fixed;
		top: -100px;
		left: 0;
		margin-top: 1.5625em;
		width: 100%;
		z-index: 99999;
		height: 4.25em;
		opacity: 0.98;
		transition: background 300ms, margin-top 300ms 300ms, top 1s 300ms, height 500ms 300ms cubic-bezier(0.23, 1, 0.32, 1);

		#homeLogo{
			display: inline-block;
			position: absolute;
			top: 0px;
			transition:top 300ms;
		}

		&.settle{
			top:0;
		}

		&.sticky {
			background: rgba(107, 109, 111, 1.0);
			margin-top: 0;
			transition: background 300ms 300ms, margin-top 300ms, top 1s 1s, height 500ms cubic-bezier(0.23, 1, 0.32, 1);
			#homeLogo{
				top: -11px;
			}
		}
		
		&.overlayActive{
			background: rgba(107,109,111,1);
			background: -moz-linear-gradient(top, rgba(107,109,111,1) 1%, rgba(107,109,111,1) 68%, rgba(107,109,111,0) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(1%, rgba(107,109,111,1)), color-stop(68%, rgba(107,109,111,1)), color-stop(100%, rgba(107,109,111,0)));
			background: -webkit-linear-gradient(top, rgba(107,109,111,1) 1%, rgba(107,109,111,1) 68%, rgba(107,109,111,0) 100%);
			background: -o-linear-gradient(top, rgba(107,109,111,1) 1%, rgba(107,109,111,1) 68%, rgba(107,109,111,0) 100%);
			background: -ms-linear-gradient(top, rgba(107,109,111,1) 1%, rgba(107,109,111,1) 68%, rgba(107,109,111,0) 100%);
			background: linear-gradient(to bottom, rgba(107,109,111,1) 1%, rgba(107,109,111,1) 68%, rgba(107,109,111,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6d6f', endColorstr='#6b6d6f', GradientType=0 );
			
		}

		&.videoActive {
			height: 100%;
		    background-color: rgb(55, 56, 58);
			opacity: 1.0;
			transition: height 400ms;
		}
	}

	.hamburger {
		display: none;
	}

	ul.menu {
		background-color: transparent;
		font-family: 'Din-Regular', san-serif;
		height: 2.5em;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 1.5625em;
		font-size: 0.875em;
		text-align: right;
		display: inline-block;
		list-style: none;
		width: 50%;
	    float: right;
		border-color: transparent;
		border-width: 0;
		margin-top: 1em;
		right: 0;
		
		li {
			margin: 1em 1.3em;
			display: inline-block;
			
			&.logo {
				margin-right: auto;
			}
	
			a {
				display: inline-block;
				text-decoration: none;
	
				&:hover {
					color: #46ccc5;
				}
	
				&.active {
					color: #46ccc5;
				}
			}
		}
	}
}
