.icon{display:inline-block;position: relative;}

.logo-b-inline {
	width:17px;
	height:26px;
	fill:white;
}

.logo-owen-inline {
	width:79px;
	height:26px;
	fill:white;
}

.logo-m-inline{
	width:31px;
	height:26px;
	fill:white;
}

.logo-cgarry-inline{
	width:102px;
	height:26px;
	fill:white;
}

.heart-inline{
	width:31px;
	height:26px;
	fill:white;
}
