.icon{display:inline-block;position: relative;}

.logo-b-inline {
	width:17px;
	height:26px;
	fill:white;
}

.logo-owen-inline {
	width:79px;
	height:26px;
	fill:white;
}

.logo-m-inline{
	width:31px;
	height:26px;
	fill:white;
}

.logo-cgarry-inline{
	width:102px;
	height:26px;
	fill:white;
}

.heart-inline{
	width:31px;
	height:26px;
	fill:white;
}


.playbutton-inline {
	cursor: pointer;
	width: 2.5em;
	height: 2.5em;
}

.marquee_down_arrow-inline {
	width: 1.5em;
	height: 1.5em;
}

.more_button-inline {
	width: 2em;
	height: 2em;
}

.menu_dropdown_arrow-inline {
    fill: #ffffff;
	width: 0.7em;
    height: 0.7em;
	vertical-align: initial;	
}

.facebook-inline, .instagram-inline, .twitter-inline, .linkedin-inline {
	width: 1.75em;
	height: 1.75em;
	
	margin-left: 0.5em;
	margin-right: 0.5em;
}


.mb_timeline_path-inline {
	fill: $skyblueColor;
	width: inherit;
	height: inherit;
}

.icon_grills-inline, .icon_employees-inline, .icon_windows-inline, .icon_dogs-inline {
	fill: #58595b;
	width: 5em;
	height: 5em;
}

.icon_mail-inline,.icon_phone-inline,.icon_location-inline{
	width: 2.5em;
	height: 2.5em;
}

@media screen and (min-width: 768px) {
	.icon_mail-inline,.icon_phone-inline,.icon_location-inline{
		width: 1em;
		height: 1em;
	}
	.icon_grills-inline, .icon_employees-inline, .icon_windows-inline, .icon_dogs-inline {
		fill: #58595b;
		width: 4em;
		height: 4em;
	}
}