.icon{display:inline-block;}
.music-inline {
    width: 15px;
    height: 15px;
  fill:blue;
    position: relative;
    top: 2px;
}

.heart-inline {
    width: 15px;
    height: 15px;
  fill:red;
    position: relative;
    top: 2px;
}