/*#overlayCover{
	width:100%;
	height:0;
	position:fixed;
	top:0;
	left:0;
	background:$overlayColor;
	transform:translate3d(0,0,0);
	transition:height 0s;//500ms 300ms;
	z-index:98;
	
	&.active{
//		transition:height 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
		height:100%;
	}
	
	&.white {
		background-color: #ffffff !important;
	}
//	&.mobileNav{
//		width: 100%;
//	    height: 100%;
//	    opacity: 0.9;
//	}
}*/

#internalContent{
	//opacity:0;
    width: 100%;
    height: auto;
	top: 0;
	margin: 0;
	position:relative;
	transition:opacity 250ms 0ms,height 500ms;
	z-index:99;
	overflow:hidden;
	transition:opacity 0ms,height 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
	.subpageHeader{
		width:100%;
//		opacity:0;
		transition:opacity 0ms;
	}
	.subnav{
		width:100%;
		text-align:center;
		color:$textGray;
	    padding-bottom: 1em;
	    margin-top: -1em;
		display:inline-block;
	    padding-top: 2em;
		
		&.left{
			text-align:left;
		}
		
		.view-all{
			position:relative;
			fill:$textGray;
		}
		
		.prev_arrow .icon{
			font-size: 1.5em!important;
			top: 0.2em;
			position: relative;
			transform: rotate(90deg);
			fill:$skyblueColor;
		}
		.next_arrow .icon{
			font-size: 1.5em!important;
		    top: 0.2em;
		    position: relative;
		    transform: rotate(-90deg);
			fill:$skyblueColor;
		}
		a{
			color:$textGray;
			text-decoration:none;
			font-size:.8em;
			font-style:italic;
			&:hover{
				color:$skyblueColor;
				fill:$textGray;
			}
		}
	}
	.contentWrapper{
//		transition:top 300ms 300ms,opacity 0ms,background-color 1s linear;
		transition:top 0ms,opacity 0ms;
		opacity:0;
		top:0;
		position:relative;
	    padding: 0 0.5em;
		padding-bottom:3em !important;
			
	}
	#heroImage{
		max-height:350px;
		height:0;
		overflow:hidden;
		display:block;
		height:auto;
		/*display: flex;
		justify-content: center; 
		align-items: center;*/
		background:black;
//		transition:height 500ms 250ms;
		transition:height 0ms;
		picture{
			width:100%;
			opacity:1;
			transition:opacity 300ms;
			img{width:100%;}
		}
		&.faded{
			picture{
				opacity:0!important;
			}
		}
		&.collapsed{
			height:0!important;
			transition:height 300ms 300ms;
		}
	}
	 
	&.active{
		
		display:block;
		//transition:opacity 500ms 500ms;//,height 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
		.subpageHeader{
//			opacity:1;
//			transition:opacity 500ms 1000ms;
		}
		.contentWrapper{
			opacity:1;
//			transition:top 300ms 300ms,opacity 500ms 1000ms,background-color 1s linear;
			transition:top 0ms,opacity 500ms;
			&.growing{
				transition:top 300ms,opacity 500ms;
			}
		}
	}
	
	.videoShowing{
		
	}
}

/* VIMEO HEADER */

.videoHolder {
	position: relative;
	top: 0;
	width: 100%;
	height: 0;
	background: black;
	transition:height 0ms;
//	overflow:hidden;
	//display:none;
	&.growing{
		transition:height 300ms;
	}
	&.expanded{
		transition:height 0ms;
	}
	.videoWrapper {
		width: 100%;
		height: auto;
		position: relative;
	}
}
.videoCloseButton{
	position:absolute;
	top:30px;
	right:30px;
	.videoClose{
		transform:rotate(-45deg);
		opacity:0;
		visibility:hidden;
		transition:opacity 500ms 500ms;
	    position: inherit;
	    right: 0px;
		cursor:pointer;
		
		svg {
			fill: white;
		}
		&:hover{
			svg {
				fill: $skyblueColor;
			}
		}
	}
}

.no-header{
	margin:0 auto;
	padding:7em 0 1em;
}

@media screen and (min-width: 768px) {
	#internalContent{
		.contentWrapper{
			padding:0 1em;
		}
	}
	
}

@media screen and (min-width: 1024px) {
	#internalContent{
		.contentWrapper{
			padding:0;
		}
	}
	
	//only show close button at this size
	.videoCloseButton{
		.videoClose{
			&.revealed{
				visibility:visible;
				opacity:1;
			}
		}
	}
	
}
