.clientContent {
	width: 95%;
	max-width:1280px;
	position: relative;
	margin: 0 auto;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;

	.clientLogo {
		position: relative;
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		width: 30%;
		
		
		@media screen and (min-width: 768px) {
			width: 24%;
		}
		
		@media screen and (min-width: 1024px) {
			width: 18%;
		}
		
		@media screen and (min-width: 1440px) {
			width: 15%;
		}
		
		
		img {
			display: none;
			width: 100%;
			height: auto;
			opacity: 0;
			transition: opacity 300ms 1s;
			
			&.fullColor {
				position: absolute;
				top: 0;
				left: 0;
			}
			
			&.fullColor {
				visibility: hidden;
				width: 100%;
			}
		}
	
		&:hover {
			img:nth-child(1) {
				&.active {
					visibility: hidden;
				}
			}
		
			img:nth-child(2) {
				&.fullColor {
					display: block;
					visibility: visible;
				}
			}
		}
		
		.in-view {
			display: block;
			opacity: 1;
		}
	}
}
