
#work, #culture, #offices {
	min-height: 500px;
	width: 100%;
	overflow: hidden;
}

#work,#clients{
	h1.sectionHeading{
		margin-top:1em;
	}
}

/*section:nth-child(2){
	margin-top:100%;
	transition:margin 1s .5s;
	&.settle{margin-top:1.5625em;}
}*/

#careers {
	//min-height: 100px;
	width: 90%;
	padding:1.7em 5% 3em;
	//overflow: hidden;
	text-align:center;
}

#mainContent{
	overflow:hidden;
	&.inactive{
		display:none;
		position:fixed;
	}
	.contentWrapper{
		background: white;
		transition:top 500ms 300ms;
		top:0;
		position:relative;
			section{
				opacity:0;transition:opacity 1s 500ms;
			
			}
		&.settle{
		
			section{
				opacity:1;
			}
		}
	//	line-height:0;
	}
}

.portfolioContent, .cultureContent, .officeContent, .clientContent {
	margin-top: 1.2em;
	display:inline-block;
	
	.in-view {
		opacity: 1;
		transform:scale(1);
//		transition: opacity 1s .25s, transform 1s .25s;
		transition: opacity 1s 50ms, transform 1s 50ms;
	}
	
	.in-view + .arrow {
		opacity: 1;
	}
	
	.in-view + .bgOverlay {
		opacity: 1;
	}

	.col-2-by-1 {
		width:49%;
	}
}


h1 {
	margin: 0;
	
	&.sectionHeading {
		font-family: 'Din-Bold', sans-serif;
		font-size: 1.8em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		margin-top: 2.3em;
		margin-bottom: 0.75em;
		letter-spacing: 0.04em;
		line-height: 1em;
		text-align: center;
	
		@for $i from 1 through 10 {
			span[data-forward]:nth-child(#{$i}) {
				opacity: 1;
				transition: opacity 1s #{$i * 300}ms;
			
				&.forwardVisible {
					opacity: 1;
				}
			}	
		}
	}
	
	&.sectionHeadingSmall {
		font-family: 'Din-Regular', sans-serif;
		font-size: 3.5em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		text-align: center;
		line-height: 1.1em;
		margin-bottom:.5em;
	}
	
	&.joinTeamCTA {
		font-size: 1.5em;
		text-align: center;
	}
}


.projectTile {
	background-color: #ffffff;//#f7f7f7;
	position: relative;
	width: 49%;//99%;
	height:	auto;
	margin: .5%;//0.4222222em;
	overflow: hidden;
	float:left;
	transition: margin 300ms, height 300ms;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	a {
		display: block;
		cursor: pointer;
		
		picture{
			position:relative;
			top:0;
			left:0;
			transition: top .3s .2s, left .3s .2s;
		}
		
		.prjDescription {
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;

			.cultureArrow {
			    position: absolute;
			    width: 0%;
			    height: 0%;
			    bottom: 0;
			    right: 0;
			    border-left: 0 solid transparent;
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
			    border-bottom: 0 solid transparent;
				z-index: 1;

				transition: border-top 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			.prjDscrWrap {
				z-index: 2;
				opacity: 0;
				top: 10%;
				position: relative;
				transition: top 300ms, opacity 300ms;
				
				h2 {				
					font-family: 'Din-Bold', sans-serif;
					text-transform: uppercase;
					font-size: 1.4em;
					line-height: 1.1em;
				}
		
				p {
					margin-top: 0.3em;
					margin-bottom: 0;
					display:none;
				}
			}	
		}
		
		&:hover,&:active {
			.prjDescription {
				
				.cultureArrow {
					border-top: 1500px solid transparent;
					border-right: 1500px solid #46ccc5;
				}
				
					
				.prjDscrWrap {
					top: 0;
					opacity: 1;
					transition: top 300ms 200ms, opacity 300ms 200ms;
				}
			}
		}
	}
}


.cultureTile {
	background-color: #ffffff;//#f7f7f7;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	transition: margin 300ms, width 300ms, height 300ms;
	float:left;
	height:auto;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	&.col-2-by-1 {
		width:99%;
	}
	
	picture {
		margin-left:0;
		transition: margin 300ms;
	}
	
	.bio {
		font-size: 0.75em;
		opacity:0;
		position: absolute;
		top:20px;
		
	}
	
	.linkedin{
		opacity:0;
		cursor:pointer;
		position:absolute;
		bottom: 8px;
		right: 0px;
	}
	
	.closeCulture{
		position: absolute;
		top: 10px;
		right: 10px;
		transform: rotateZ(45deg);
		cursor: pointer;
		opacity:0;
		svg {
			fill: white;
		}
	}
	
	&.stretchOut {
		will-change: width, margin;		
		width: 99%;
		transition: margin 300ms 300ms, width 300ms 300ms;
		.cultureLink{
			z-index:0;
		}
		.bio {
			opacity: 1;
			transition: opacity 500ms 500ms,top 500ms 500ms;
			transform: translate3d(0,0,0);
			
			top: 0;
			z-index: 10;
			width: 100%;
			height: 100%;

			.inner{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 80%;
				margin: 0;
				h4{
					font-family: 'Din-Bold', sans-serif;
					font-size: 1.6em;
					text-transform:uppercase;
					margin:0;
				}
				h5{
					font-family: 'Open Sans', sans-serif;
					font-weight: 300;
					font-style:italic;
					font-size:.8em;
					margin:0;
				}
			}
			
			
		}

		.linkedin,.closeCulture{
			opacity: 1;
			transition: opacity 500ms 750ms;

			z-index: 20;
		}
		
		.arrow {
	    	border-top: 1100px solid transparent !important;
	    	border-right: 1100px solid #46ccc5 !important;
			transition: width 500ms, height 500ms, border-top 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55), border-right 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			
			.moreArrow {
				display: none;
			}
		}
	}
	
	&.shrinkMe {
		will-change: width, margin;
		width: 0%;
		margin-left: 0;
		margin-right: 0;
		transition: margin 300ms 300ms, width 300ms 300ms;
		
		&.col-2-by-1 {
			width:24%;
		    margin: 0.5%;
		}
		
		picture{
			margin-left:-50%;
			transition: margin 300ms 300ms;
		}
	}
	
	.cultureLink {
		display: block;
		cursor: pointer;
		z-index:20;
		position:relative;
		
		.bio {
			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
			z-index: 9999;
			position: absolute;
		
			opacity: 0;
			transition: opacity 500ms;
		
			p {
				position: relative;
				top: 10%;
				transition: top 500ms 300ms;
			}
		}
		
		.arrow {
		    position: absolute;
		    width: 0%;
		    height: 0%;
		    bottom: 0;
		    right: 0;
		    border-left: 0 solid transparent;
		    border-top: 50px solid transparent;
		    border-right: 50px solid #46ccc5;
		    border-bottom: 0 solid transparent;
			opacity: 0;
			z-index: 2;
			
			transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			
			&.offTile{
				//right: -100px;
				//bottom: -100px;
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
				transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 150ms, border-right 150ms;
			}
		
			.moreArrow {
			    position: absolute;
			    z-index: 100;
			    top: -1.5625em;
			    left: 1.87em;
				transform: rotateZ(-90deg);
				transition: left 400ms 90ms;
			}
			
			&.showDetails{
				opacity:1;
			}
		}
		
		&:hover { 
			.arrow {
		    	border-top: 75px solid transparent;
		    	border-right: 75px solid #46ccc5;
				
				.moreArrow {
				    left: 3.0em;
				}
			}		
		}
	}
}

#offices{
	#officeDetails {
	display: block;
	opacity:0;
	width: 100%;
	height: 0em;
	position:relative;
	overflow:hidden;
	transition: height 300ms 500ms,opacity 300ms;
	.leftSide {
		float: none;
		width: 100%;
		display: block;
		padding-top: 0;//1em;
		padding-right: 0;
		padding-left: 0;
		//max-height: 28.125em;
		overflow: hidden;
		z-index:0;
		position:relative;
		
		picture {
			.lazyload {
				opacity: 0;
				transition: opacity 500ms;
			}
		}
	}

	.rightSide {
		float: none;
		width: 99%;
		padding: 0 1% 1%;
		display: block;
		z-index:2;
	}
	
	.closeMe{
		position: absolute;
		top: 10px;
		right: 10px;
		transform: rotateZ(45deg);
		cursor: pointer;
		z-index:2;
		svg {
			fill: white;
		}
	}
		
	h3 {
		color: $skyblueColor;
		font-family: 'Din-Bold', sans-serif;
		font-size: 2.5em;
		line-height: 0em;
		position: relative;
		text-align: center;
		margin: 0;
		top: 2em;
		opacity: 0;
		transition: top 1s, opacity 10ms;
		z-index:2;
		
	}
	
	.ribbon {
		padding-top: 1em; //2em;
		padding-bottom: 0;//2em;
		position: relative;
		height: 0%;
		transition: height 500ms, top 0s;
		z-index:2;
		.info {
			opacity: 0;
			transition: opacity 500ms;
			text-align: center;
			h4{
				font-family: 'Open Sans', sans-serif;
			    font-weight: 300;
				font-size: 1.5em;
				padding: 0;
				margin: .5em 0 0em;
			}
			
			
		}
		
		&::after,&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0%;
			min-width: 1000%;
			height: inherit;
			background-color: $skyblueColor;
			z-index: -1;
		}
		
		&::before {
			left: -500%;
		    min-width: 500%;
		}
	}
	
	.officeStats {
		/*display: flex;
		flex-direction: row wrap;
		justify-content: space-around;
		align-items: flex-start;*/
		display:block;
		
		padding-top: 1em;
		opacity: 0;
		transition: opacity 500ms;
		margin-bottom: -3em;
		width:100%;
		position:relative;
		
		div {
			display: inline-block;
			text-align: center;
			width:50%;
			float:left;
			margin: 0 0 2em;
			h4 {
				color: $skyblueColor;
				font-family: 'Din-Bold', sans-serif;
				font-weight: bolder;
				font-size: 3em;
				margin-top: 0;
				margin-bottom: 0;
			}
			
			span {
				color: $skyblueColor;
				font-family: 'Din-Regular', sans-serif;
				font-weight: lighter;
				font-size: 1em;
			}
		}
	}
	
	&.removed {
		opacity:0!important;
	}
	&.showDetails {
		//height: 100%;
		opacity:1;
		overflow:visible;
		h3 {
			opacity: 1;
			top: 0em;
			transition: top 1s 600ms, opacity 1ms 600ms;
			//added
			font-size:3em;
			top:-15px;
			&.long {
				font-size: 2.4em;
				top: -11px;
			}
			
			
		}
		
		.ribbon {
			height: 100%;
			transition: height 300ms 300ms,top 5s;
			top:0px;
			&.moving{
				top:1px;
				transition: height 300ms 300ms,top 0s;
			}
			
			.info {
				font-size: 0.9em;
				opacity: 1;
				transition: opacity 500ms 600ms;
				//added
				position:relative;
				top: -1em;
				
				
				p{
					width:35%;
					display:inline-block;
					margin: .5em .25em 1em;
					max-width:100px;
					a{
						text-decoration:none;
				
						.office-icon {
							display: block;
							padding:.5em 1em;
							border:3px solid white;
		//					float: left;
						}
						.office-content {
							display:none;
		//					padding-left: 8px;
		//					display: inline-block;
						}
					}
					&.info-address{
						font-size:1.1em;
						margin-top:.5em;
						width:100%;
						margin-bottom: 0em;
						max-width:none;
						.office-icon{
							display:none;
						}
						.office-content {
							display:block;
						}
					}
				}
			}
		}
		
		.officeStats {
			opacity: 1;
			transition: opacity 500ms 500ms;
		}
		
		.leftSide {
			picture{
				.lazyloaded {
					transform: scale(1);
					opacity: 1;
					transition: opacity 500ms 600ms;
				}
			}
		}
	}
}
}
.officeTile {
	background-color: #ffffff;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	float:left;
	
	a {
		cursor: pointer;
		display: block;

		&:hover,&.active {
			
			background-color: #46ccc5;
			transition: opacity 300ms;
			
			.bgOverlay, picture {
				opacity: 0;
			}
			
			svg {
				
				circle.clockHours {
					stroke: #DEE2EA;
				}
			}
		}
	}
	
	.bgOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
		background-repeat: repeat;
		-webkit-background-size: 3px 3px;
		-moz-background-size: 3px 3px;
		background-size: 3px 3px;	
		z-index: 0;
	}
	
	.lazyload {
		opacity: 1;
		transition: opacity 300ms;
	}
	
	.officeInfo {
		display: flex;
		flex-flow: column;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 300ms;
		
		&.showDetails{
			opacity:1;
		}
					
		svg {
			display: none;
		}
		p{
			line-height: 0.8em;
			margin-bottom: 0.4em;
			margin-top: 0;
			&.cityName{
				font-size:1em;
				font-family: 'Din-Regular', sans-serif;
			}
			&.cityTime{
				font-size:.8em;
				font-family: 'Din-Regular', sans-serif;
			}
		}
	}		
}


@media screen and (min-width: 320px){
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			margin-top: 1.3em;
			margin-bottom: 0.5em;
		}
		
			
	}
}

@media screen and (min-width: 414px){
	
	h1 {
		&.sectionHeading {
			font-size:2.1em;
		}
		&.joinTeamCTA {
			margin-top: 0em;
			font-size: 2em;
		}
	}
}

/*
@media screen and (min-width: 768px) {
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 4.125em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			margin-top: 1.2em;
			margin-bottom: 0.5em;
		}
	
		&.joinTeamCTA {
			font-size: 3em;
			text-align: center;
		}
	}

	.vimeoContainer {
		.videoTitle {
			font-size: 3em;
			text-align: left;
			margin: 0;
		}
		
		.videoDescription {
			text-align: left;
			font-size: 1.2em;
		}
	}

	.projectTile {
		width: 49%;

		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {				
						font-size: 2em;
					}
					p{
						display:block;
					}
				}	
			}
		}
	}
	
	
	#culture {
		
		.cultureContent {
			input.cityFilter {
				display: none;
							
				label {
					margin-left: 1em;
					margin-right: 1em;
					
					display: none;
				}
			
				&.active ~ label{
					color: #46ccc5;
					display: inline-block;
				}
			}
			
			div > input#select-ams:checked + .cultureTile:not([data-office-filter='ams']),
			div > input#select-chi:checked + .cultureTile:not([data-office-filter='chi']),
			div > input#select-hk:checked + .cultureTile:not([data-office-filter='hk']),
			div > input#select-ldn:checked + .cultureTile:not([data-office-filter='ldn']),
			div > input#select-ny:checked + .cultureTile:not([data-office-filter='ny']),
			div > input#select-par:checked + .cultureTile:not([data-office-filter='par']),
			div > input#select-sf:checked + .cultureTile:not([data-office-filter='sf']),
			div > input#select-sao:checked + .cultureTile:not([data-office-filter='sao']),
			div > input#select-sg:checked + .cultureTile:not([data-office-filter='sg']) {			
				opacity: 0.25;
				pointer-events: none;
			}
		}
	}
	
	
	.cultureTile {
		width: 49%;
		max-height: 31em;
		
		.bio {
			font-family: 'Gotham-Light', sans-serif;
			font-size: 0.9em;
		}
	
		&.col-2-by-1 {
			width:99%;
		}
		
		&.stretchOut {
			width: 99%;
			
			.arrow {
		    	border-top: 2000px solid transparent !important;
		    	border-right: 2000px solid #46ccc5 !important;
				
				.moreArrow {
				    position: absolute;
				    z-index: 100;
				    top: -1.5625em;
				    left: 1.87em;
				}
			}
		}
	}

	.officeTile {
		width: 49%;
		margin: 0.5%;
		
		
		.officeInfo {
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			font-size: 1em;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 9999;
			transition: opacity 300ms;
		
			&.showDetails{
				
				.leftSide {
					picture {
						.lazyloaded {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				
				opacity:1;
			}
					
			svg {			
				display: block;
				margin: 0 auto;
				overflow: visible;

				&.clockGraphic {
					width: 150px;
					transform: scale(1);
				}
			}
		}			
	}
	
	#officeDetails {
		&.showDetails {
			height: 100%;
			transition: height 300ms;
		
			h3 {
				opacity: 1;
				top: 0em;
				transition: top 1s 500ms, opacity 1ms 700ms;
			}
			
			.leftSide {
				picture {
					opacity: 1;
				}
			}
		}

	
		h3 {
			line-height: 0.6em;
			font-size: 3.25em;
			
			.abbr {
				display: none;
			}
		}
	}
}
*/


@media screen and (min-width: 768px) {
	
	#work {
		min-height: 500px;
		padding-top: 1.5em;
	}

	#culture {
		min-height: 500px;
		//padding-top: 2.5em;
	}

	#offices {
		min-height: 500px;
		//padding-top: 2.5em;
		#officeDetails {
			.leftSide {
				float: left;
				width: 49%;
				display: inline-block;
				padding-top: 0em;
				padding-right: 0.5%;
				padding-left: 0.5%;
				overflow: hidden;
				z-index:3;
				//max-height: 28.125em;

				.leftSide {
					picture {
						.lazyload {
							opacity: 0;
						}
					}
				}
			}

			.rightSide {
				float: left;
				width: 45%;
				padding: 2.5em .5% .5% 3%;
			
				display: inline-block;
			}
			
			.closeMe{
				top:50px;
			}
		
			&.showDetails {
				//height: 100%;
				
				h3{
					font-size: 3.6em;
					top: -17px;
					&.long {
						font-size: 3em;
						top: -15px;
					}
				}
			
				.leftSide {
					picture {
						.lazyloaded {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				.ribbon {
					.info{
						text-align:left;
						h4{
							font-size:1em;
							margin-top: 1em;
						}
						p {
							width:100%;
							margin-bottom:.5em;
							max-width:none;
							a{
								.office-icon {
									display: inline-block;
									float: left;
									padding:0;
									border:none;
								}
								.office-content {
									padding-left: 8px;
									display: inline-block;
								}
							}
							&.info-address{
								font-size:1em;
								margin-top:1em;
								.office-icon,.office-content{display:inline-block;}
							}
						}
						
					}
				}
			}
		
			h3 {
				font-size: 4.5em;
				text-align: left;
			
				.abbr {
					display: none;
				}
			}
			
			.officeStats {
				margin-bottom: 0em;
			    margin-left: -1em;
			    margin-top: 1em;
				div {
					width: 21%;
					margin: 0 2%;
					h4 {
						font-size: 2em;
						margin-bottom: -.25em;
					}
				}
			}
		}
	}

	#careeres {
		min-height: 200px;
		padding-top: 2.5em;
	}
	#careers {
		padding:3em 5% 5em;
	}

	#work,#clients{
		h1.sectionHeading{
			margin-top:.75em;
		}
	}
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 4em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			line-height: 1em;
			margin-top: 0.75em;
			margin-bottom: 0.75em;
		}
		
		&.joinTeamCTA {
			text-align: center;
			font-size: 2.5em;
		}
	}

	.projectTile {
		width: 24%;
		//max-height: 20em;
		
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {
						font-family: 'Din-Bold', sans-serif;			
						font-size: 1.5em;
						margin-bottom: 0;
					}
					
					p {
						font-family: 'Open Sans', sans-serif;
					    font-weight: 300;
						font-size: 1em;
						margin-top: 0;
					}
				}	
			}
			&:hover,&:active {
				.prjDescription {
					.prjDscrWrap {
						top: -5%;
					}
				}
			}
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	
	.cultureTile {
		width: 24%;
		
		.bio {
			font-size: .9em;
		}

		&.stretchOut {
			width: 49%;
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	

	
	.officeTile {
		width: 32.3%;
	
		.officeInfo {			
			.cityName {
				text-transform: uppercase;
				font-size: 1.25em;
			}
			
			.cityTime {
				font-size: 1.1em;
			}
			
			/*svg {
				&.clockGraphic {
					margin-top: 1.5em;
					transform: scale(0.85);
				}
			}*/
			svg {			
				display: block;
				margin: 0 auto;
				overflow: visible;

				&.clockGraphic {
					width: 150px;
					transform: scale(0.8);
				    margin-top: 5%;
				    margin-bottom: 0%;
				}
			}
			
			p {
				margin-top: 0;
				line-height: 0.75em;
			}
		}
	}	
}

@media screen and (min-width:1024px) {

	.container {
		max-width: 80%;
		margin: 0 auto;
	}
	h1 {
		&.sectionHeading {
			font-size: 5em;
		}
	}
	.projectTile {
		
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {		
						font-size: 1.875em;
					}
					p {
						display:block;
					}
				}	
			}
		}
	}
			
	.officeTile {
		width: 24%;
	
		.officeInfo {			
			.cityName {
				font-size: 1.25em;
			}
			
			.cityTime {
				font-size: 1.1em;
			}
			
			svg {

				&.clockGraphic {
					width: 150px;
				    transform: scale(0.8);
				    margin-top: 0%;
				    margin-bottom: 1%;
				}
			}
		}
	}	
}

@media screen and (min-width:1440px) {
	
	h1 {
		&.sectionHeading {
			margin-top: 0.4em;
		}
	}
	#officeDetails {
		h1 {
			font-size: 4.5em;
			
			/*.abbr {
				.headerHeroText:inline-block;
			}*/
		}
	}	
	#careers {
		padding:5em 5%;
	}
}

@media screen and (min-width: 1900px) {
	#work {
		padding-top: 2em;
	}
	.container {
		max-width: 80%;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 6em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			margin-top: 0.25em;
			margin-bottom: .6em;
		}
		
		&.joinTeamCTA {
			text-align: center;
		}
	}
	
	.projectTile {
		width: 15.6666666%;
		max-height: 39em;
	
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {				
						font-size: 2em;
					}
				}	
			}
		}
		
		&.col-2-by-1 {
			width:32.3%;
		}
		
		&.isShowcaseFinal {
			width:32.3%;
		}
	}
	
	.cultureTile {
		width: 15.6666666%;
		max-height: 20em;
		margin: 0.5%;
		
		.bio {
			font-size: 1.75em;
		}
		
		&.col-2-by-1 {
			width:32.33333%;
		}
		
		&.stretchOut {
			width: 32.33333%;
		}
	}

	#officeDetails {
		&.showDetails {
			//height: 36em;
		}
		
		h1 {
			font-size: 6em;
			
			.abbr {
				display: inline-block;
			}
		}
	}
	
	.officeTile {
		width: 19%;
		max-height: 39em;	

		.officeInfo {
			svg {
				&.clockGraphic {
					margin-top: 1.5em;
				}
			}
		}
	}	
	
}


