
#OurWork, #OurPeople, #OurOffices {
	min-height: 500px;
	width: 100%;
	overflow: hidden;
}

/*section:nth-child(2){
	margin-top:100%;
	transition:margin 1s .5s;
	&.settle{margin-top:1.5625em;}
}*/

#JoinTeam {
	min-height: 200px;
	width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
}

#mainContent{
	overflow:hidden;
	&.inactive{
		display:none;
		position:fixed;
	}
}


.portfolioContent, .cultureContent, .officeContent, .clientContent {
	margin-top: 1.2em;
	display:inline-block;
	
	.in-view {
	    opacity: 1;
		transform:scale(1);
	    transition: opacity 1s .25s, transform 1s .25s;
	}
	
	.in-view + .arrow {
		opacity: 1;
	}
	
	.in-view + .bgOverlay {
		opacity: 1;
	}

	.col-2-by-1 {
		width:49%;
	}
}


h1 {
	margin: 0;
	
	&.sectionHeading {
		font-family: 'Din-Bold', sans-serif;
		font-size: 2.125em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		margin-top: 2.3em;
		margin-bottom: 0.75em;
		letter-spacing: 0.04em;
		line-height: 1em;
		text-align: center;
		
		@for $i from 1 through 10 {
			span[data-forward]:nth-child(#{$i}) {
				opacity: 0;
				transition: opacity 1s #{$i * 300}ms;
			
				&.forwardVisible {
					opacity: 1;
				}
			}	
		}
	}
	
	&.sectionHeadingSmall {
		font-family: 'Din-Regular', sans-serif;
		font-size: 3.5em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		letter-spacing: 0.04em;
		text-align: center;
	}
	
	&.joinTeamCTA {
		font-size: 2.5em;
		text-align: center;
	}
}


.projectTile {
	background-color: #ffffff;//#f7f7f7;
	position: relative;
	width: 49%;//99%;
	height:	auto;
	margin: .5%;//0.4222222em;
	overflow: hidden;
	float:left;
	transition: margin 300ms, height 300ms;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	a {
		display: block;
		cursor: pointer;
		
		picture{
			position:relative;
			top:0;
			left:0;
			transition: top .3s .2s, left .3s .2s;
		}
		
		.prjDescription {
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;

			.cultureArrow {
			    position: absolute;
			    width: 0%;
			    height: 0%;
			    bottom: 0;
			    right: 0;
			    border-left: 0 solid transparent;
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
			    border-bottom: 0 solid transparent;
				z-index: 1;

				transition: border-top 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			.prjDscrWrap {
				z-index: 2;
				opacity: 0;
				top: 10%;
				position: relative;
				transition: top 300ms, opacity 300ms;
				
				h2 {				
					font-family: 'Din-Bold', sans-serif;
					text-transform: uppercase;
					font-size: 2em;
				}
		
				p {
					margin-top: 0.3em;
					margin-bottom: 0;
					display:none;
				}
			}	
		}
		
		&:hover {
			.prjDescription {
				
				.cultureArrow {
					border-top: 1500px solid transparent;
					border-right: 1500px solid #46ccc5;
				}
				
					
				.prjDscrWrap {
					top: -5%;
					opacity: 1;
					transition: top 300ms 200ms, opacity 300ms 200ms;
				}
			}
		}
		
		&.active {
			.prjDescription {
				
				.cultureArrow {
				    border-top: 1500px solid transparent;
				    border-right: 1500px solid #46ccc5;
				}
						
				.prjDscrWrap {
					top: -5%;
					opacity: 1;
					transition: top 300ms 200ms, opacity 300ms 200ms;
				}
			}
		}
	}
}


.cultureTile {
	background-color: #ffffff;//#f7f7f7;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	transition: margin 300ms, width 300ms, height 300ms;
	float:left;
	height:auto;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	&.col-2-by-1 {
		width:99%;
	}
	
	picture {
		margin-left:0;
		transition: margin 300ms;
	}
	
	.bio {
		font-size: 0.75em;
	}
	
	&.stretchOut {
		will-change: width, margin;		
		width: 99%;
		transition: margin 300ms 300ms, width 300ms 300ms;
		
		.bio {
			opacity: 1;
			transition: opacity 500ms 300ms;
			transform: translate3d(0,0,0);
			
			p {
				top: 0;
			}
		}
		
		.arrow {
	    	border-top: 1100px solid transparent !important;
	    	border-right: 1100px solid #46ccc5 !important;
			transition: width 500ms, height 500ms, border-top 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55), border-right 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			
			.moreArrow {
				display: none;
			}
		}
	}
	
	&.shrinkMe {
		will-change: width, margin;
		width: 0%;
		margin-left: 0;
		margin-right: 0;
		transition: margin 300ms 300ms, width 300ms 300ms;
		
		&.col-2-by-1 {
			width:24%;
		    margin: 0.5%;
		}
		
		picture{
			margin-left:-50%;
			transition: margin 300ms 300ms;
		}
	}
	
	a {
		display: block;
		cursor: pointer;
		
		.bio {
			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
			z-index: 9999;
			position: absolute;
		
			opacity: 0;
			transition: opacity 500ms;
		
			p {
				position: relative;
				top: 10%;
				transition: top 500ms 300ms;
			}
		}
		
		.arrow {
		    position: absolute;
		    width: 0%;
		    height: 0%;
		    bottom: 0;
		    right: 0;
		    border-left: 0 solid transparent;
		    border-top: 50px solid transparent;
		    border-right: 50px solid #46ccc5;
		    border-bottom: 0 solid transparent;
			opacity: 0;
			z-index: 2;
			
			transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			
			&.offTile{
				//right: -100px;
				//bottom: -100px;
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
				transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 150ms, border-right 150ms;
			}
		
			.moreArrow {
			    position: absolute;
			    z-index: 100;
			    top: -1.5625em;
			    left: 1.87em;
				transform: rotateZ(-90deg);
				transition: left 400ms 90ms;
			}
			
			&.showDetails{
				opacity:1;
			}
		}
		
		&:hover { 
			.arrow {
		    	border-top: 75px solid transparent;
		    	border-right: 75px solid #46ccc5;
				
				.moreArrow {
				    left: 3.0em;
				}
			}		
		}
	}
}


#officeDetails {
	display: block;
	width: 100%;
	height: 0em;
	
	.leftSide {
		float: none;
		width: 99%;
		display: block;
		padding-top: 1em;
		padding-right: 0.5%;
		padding-left: 0.5%;
		//max-height: 28.125em;
		overflow: hidden;
		
		picture {
			.lazyload {
				opacity: 0;
				transition: opacity 500ms;
			}
		}
	}

	.rightSide {
		float: none;
		width: 99%;
		padding-right: 1%;
		padding-left: 1%;
		padding-top: 0.5%;
		display: block;
	}
	
		
	h3 {
		color: $skyblueColor;
		font-family: 'Din-Bold', sans-serif;
		font-size: 2.5em;
		line-height: 0em;
		position: relative;
		text-align: center;
		margin: 0;
		top: 3em;
		opacity: 0;
		transition: top 1s, opacity 10ms;
		
		.abbr {
			display: none;
		}
	}
	
	.ribbon {
		padding-top: 2em;
		padding-bottom: 2em;
		position: relative;
		height: 0%;
		transition: height 500ms;
		
		.info {
			opacity: 0;
			transition: opacity 500ms;
		}
		
		&::after,&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0%;
			min-width: 1000%;
			height: inherit;
			background-color: $skyblueColor;
			z-index: -1;
		}
		
		&::before {
			left: -200%;
		    min-width: 200%;
		}
	}
	
	.officeStats {
		padding-top: 1em;
		opacity: 0;
		transition: opacity 500ms;
	}
	
	
	&.showDetails {
		height: 100%;
		transition: height 300ms;
		
		h3 {
			opacity: 1;
			top: 0%;
			transition: top 1s 500ms, opacity 1ms 700ms;
		}
		
		.ribbon {
			height: 100%;
			transition: height 300ms 300ms;
			
			.info {
				font-size: 0.9em;
				opacity: 1;
				transition: opacity 500ms 800ms;
			}
		}
		
		.officeStats {
			opacity: 1;
			transition: opacity 500ms 500ms;
		}
		
		.leftSide {
			picture{
				.lazyloaded {
					transform: scale(1);
					opacity: 1;
					transition: opacity 500ms 500ms;
				}
			}
		}
	}
}

.officeTile {
	background-color: #ffffff;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	float:left;
	
	a {
		cursor: pointer;
		display: block;

		&:hover {
			
			background-color: #46ccc5;
			transition: opacity 300ms;
			
			.bgOverlay, picture {
				opacity: 0;
			}
			
			svg {
				
				circle.clockHours {
					stroke: #DEE2EA;
				}
			}
		}
		
		&.active {
			background-color: #46ccc5;
			transition: opacity 300ms;
			
			.bgOverlay, picture {
				opacity: 0;
			}
			
			svg {
				circle.clockHours {
					stroke: #DEE2EA;
				}
			}
		}
	}
	
	.bgOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
		background-repeat: repeat;
		-webkit-background-size: 3px 3px;
		-moz-background-size: 3px 3px;
		background-size: 3px 3px;	
		z-index: 0;
	}
	
	.lazyload {
		opacity: 1;
		transition: opacity 300ms;
	}
	
	.officeInfo {
		display: flex;
		flex-flow: column;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 9999;
		transition: opacity 300ms;
		
		&.showDetails{
			opacity:1;
		}
					
		svg {
			display: none;
		}
	}		
}


@media screen and (min-width: 320px){
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			margin-top: 1.3em;
			margin-bottom: 0.5em;
		}
		
		&.joinTeamCTA {
			margin-top: 1em;
			font-size: 2em;
		}	
	}
}


@media screen and (min-width: 768px) {
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 4.125em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			margin-top: 1.2em;
			margin-bottom: 0.5em;
		}
	
		&.joinTeamCTA {
			font-size: 3em;
			text-align: center;
		}
	}

	.vimeoContainer {
		.videoTitle {
			font-size: 3em;
			text-align: left;
			margin: 0;
		}
		
		.videoDescription {
			text-align: left;
			font-size: 1.2em;
		}
	}

	.projectTile {
		width: 49%;

		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {				
						font-size: 2em;
					}
					p{
						display:block;
					}
				}	
			}
		}
	}
	
	
	#OurPeople {
		
		.cultureContent {
			input.cityFilter {
				display: none;
							
				label {
					margin-left: 1em;
					margin-right: 1em;
					
					display: none;
				}
			
				&.active ~ label{
					color: #46ccc5;
					display: inline-block;
				}
			}
			
			div > input#select-ams:checked + .cultureTile:not([data-office-filter='ams']),
			div > input#select-chi:checked + .cultureTile:not([data-office-filter='chi']),
			div > input#select-hk:checked + .cultureTile:not([data-office-filter='hk']),
			div > input#select-ldn:checked + .cultureTile:not([data-office-filter='ldn']),
			div > input#select-ny:checked + .cultureTile:not([data-office-filter='ny']),
			div > input#select-par:checked + .cultureTile:not([data-office-filter='par']),
			div > input#select-sf:checked + .cultureTile:not([data-office-filter='sf']),
			div > input#select-sao:checked + .cultureTile:not([data-office-filter='sao']),
			div > input#select-sg:checked + .cultureTile:not([data-office-filter='sg']) {			
				opacity: 0.25;
				pointer-events: none;
			}
		}
	}
	
	
	.cultureTile {
		width: 49%;
		max-height: 31em;
		
		.bio {
			font-family: 'Gotham-Light', sans-serif;
			font-size: 0.9em;
		}
	
		&.col-2-by-1 {
			width:99%;
		}
		
		&.stretchOut {
			width: 99%;
			
			.arrow {
		    	border-top: 2000px solid transparent !important;
		    	border-right: 2000px solid #46ccc5 !important;
				
				.moreArrow {
				    position: absolute;
				    z-index: 100;
				    top: -1.5625em;
				    left: 1.87em;
				}
			}
		}
	}

	.officeTile {
		width: 49%;
		margin: 0.5%;
		
		
		.officeInfo {
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			font-size: 1em;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 9999;
			transition: opacity 300ms;
		
			&.showDetails{
				
				.leftSide {
					picture {
						.lazyloaded {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				
				opacity:1;
			}
					
			svg {			
				display: block;
				margin: 0 auto;
				overflow: visible;

				&.clockGraphic {
					width: 150px;
					transform: scale(1);
				}
			}
		}			
	}
	
	#officeDetails {
		&.showDetails {
			height: 100%;
			transition: height 300ms;
		
			h3 {
				opacity: 1;
				top: 2%;
				transition: top 1s 500ms, opacity 1ms 700ms;
			}
			
			.leftSide {
				picture {
					opacity: 1;
				}
			}
		}

	
		h3 {
			line-height: 0.6em;
			font-size: 3.25em;
			
			.abbr {
				display: none;
			}
		}
	}
}



@media screen and (min-width: 1024px) {

	#OurWork {
		min-height: 500px;
		padding-top: 2.5em;
	}

	#OurPeople {
		min-height: 500px;
		padding-top: 2.5em;
	}

	#OurOffices {
		min-height: 500px;
		padding-top: 2.5em;
	}

	#JoinTeam {
		min-height: 200px;
		padding-top: 2.5em;
	}
	
	#officeDetails {
			
		.leftSide {
			float: left;
			width: 49%;
			display: inline-block;
			padding-top: 0em;
			padding-right: 0.5%;
			padding-left: 0.5%;
			overflow: hidden;
			//max-height: 28.125em;

			.leftSide {
				picture {
					.lazyload {
						opacity: 0;
					}
				}
			}
		}

		.rightSide {
			float: left;
			width: 49%;
			padding-right: 0.5%;
			padding-left: 0.5%;
			padding-top: 0.5%;
			display: inline-block;
		}
		
		&.showDetails {
			height: 100%;
			
			.leftSide {
				picture {
					.lazyloaded {
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}
		
		h3 {
			font-size: 4.5em;
			text-align: left;
			
			.abbr {
				display: none;
			}
		}
	}
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 5em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			line-height: 1em;
			margin-top: 0.75em;
			margin-bottom: 0.75em;
		}
		
		&.joinTeamCTA {
			text-align: center;
			font-size: 3.5em;
		}
	}

	.projectTile {
		width: 24%;
		//max-height: 20em;
		
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {
						font-family: 'Din-Bold', sans-serif;			
						font-size: 1.875em;
						margin-bottom: 0;
					}
					
					p {
						font-family: 'Gotham-Light', sans-serif;
						font-size: 1em;
						margin-top: 0;
					}
				}	
			}
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	
	.cultureTile {
		width: 24%;
		
		.bio {
			font-size: 1em;
		}

		&.stretchOut {
			width: 49%;
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	
	.officeTile {
		width: 19%;
	
		.officeInfo {			
			.cityName {
				text-transform: uppercase;
				font-family: 'Din-Regular', sans-serif;
				font-size: 1.25em;
			}
			
			.cityTime {
				font-family: 'Din-Regular', sans-serif;
				font-size: 1.0625em;
			}
			
			svg {
				&.clockGraphic {
					margin-top: 1.5em;
					transform: scale(0.85);
				}
			}
			
			p {
				margin-top: 0;
				line-height: 0.75em;
			}
		}
	}		
}

@media screen and (min-width:1440px) {
	#officeDetails {
		h1 {
			font-size: 4.5em;
			
			.abbr {
				.headerHeroText:inline-block;
			}
		}
	}	
}

@media screen and (min-width: 1900px) {

	.container {
		max-width: 90%;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 7em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			margin-top: 0.45em;
			margin-bottom: 1em;
		}
		
		&.joinTeamCTA {
			text-align: center;
		}
	}
	
	.projectTile {
		width: 15.6666666%;
		max-height: 39em;
	
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {				
						font-size: 2em;
					}
				}	
			}
		}
		
		&.col-2-by-1 {
			width:32.3%;
		}
		
		&.isShowcaseFinal {
			width:32.3%;
		}
	}
	
	.cultureTile {
		width: 15.6666666%;
		max-height: 20em;
		margin: 0.5%;
		
		.bio {
			font-size: 1.75em;
		}
		
		&.col-2-by-1 {
			width:32.33333%;
		}
		
		&.stretchOut {
			width: 32.33333%;
		}
	}

	#officeDetails {
		&.showDetails {
			height: 36em;
		}
		
		h1 {
			font-size: 6em;
			
			.abbr {
				display: inline-block;
			}
		}
	}
	
	.officeTile {
		width: 19%;
		max-height: 39em;	

		.officeInfo {
			svg {
				&.clockGraphic {
					margin-top: 1.5em;
				}
			}
		}
	}	
	
}


