.small{
	#offices #officeDetails .leftSide {
		height:auto!important;
	}
}

#work, #culture, #offices {
	min-height: 500px;
	width: 100%;
	overflow: hidden;
}

#news {
	min-height: 350px;
	width: 100%;
	overflow: hidden;
//	background-color: #6d7075;
	padding-bottom: 2em;
	
	/*@media screen and (min-width: 425px) {
		padding-bottom: 3em;
	}
	
	@media screen and (min-width: 768px) {
		padding-bottom: 2.5em;
	}
	
	@media screen and (min-width: 1024px) {
		padding-bottom: 3em;
	}
	
	@media screen and (min-width: 1440px) {
		padding-bottom: 4.5em;
	}*/
}

h1.sectionHeading{
	cursor: default;
	margin-top: 1em;
	margin-bottom: 1em;
	
	@media screen and (min-width: 1024px) {
		margin-top: 1em;
		margin-bottom: 0.2em;
	}
}

/*.mobileSectionButton {
	    width: 100%;
	    position: fixed;
	    bottom: 0;
	    height: 50px;
	    background: #46ccc5;
	    z-index: 999;
	    border-top: 1px solid white;
	    text-align: center;
	    color: white;
	}
}*/

#culture{
	h1 {
		&.sectionHeading {
			margin-bottom: 0;
		}
	}
}

.sectionButton{
    width: 100%;
    position: fixed;
    bottom: -50px;
    height: 45px;
    background: #46ccc5;
    z-index: 999;
    border-top: 2px solid white;
    text-align: center;
    color: white;
	box-shadow: 0px 12px 89px -1px rgba(0,0,0,0.52);
	transition:bottom 300ms;
	
	.global-leadership, .all-news{
		color:white!important;
		text-decoration:none;
		text-transform:uppercase;
		display: block;
			   
		.moreArrow{
			transform: rotateZ(-90deg);
			right: -0.5em;
			display: inline-block;
			position: relative;
		}
	}
	
	.all-news{
		background-color:#6d7075;
	}
	
	@media screen and (min-width: 768px) {
		position: relative;
		height:auto;
		bottom:0;
		background:none;
		border:0px solid white;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		.global-leadership, .all-news{
			 padding: 0.6em .75em 0.4em;
			 font-size:0.8em;
			float:right;
			margin-right: 0.5%;
			    margin-bottom: 0.4%;
			.moreArrow{
				top:-.1em;
			}
		}
		.all-news{
			background-color:$skyblueColor;
		}
	}
}

#news{
	.sectionButton{
//		background: #6d7075;
	}
	.sectionButton.show{
		bottom:0;
		transition:bottom 300ms 300ms;
	}
}

#culture{
	.sectionButton.show{
		bottom:0;
		transition:bottom 300ms 300ms;
	}
}

#careers {
	width: 90%;
	padding:1.7em 5% 3em;
	text-align:center;
	a.button{
		font-size:.9em;
	}
}


#mainContent{
	overflow:hidden;
	position:relative;
	
	&.inactive{
		display:none;
		position:fixed;
	}
	
	.contentWrapper{
		background: white;
		transition:top 500ms 300ms;
		top:0;
		position:relative;
		
		section{
			opacity:0;transition:opacity 1s 500ms;
		}
		
		&.settle{
			section{
				opacity:1;
			}
		}
	}
}

.clientContent{
	-webkit-transform: translate3d(0,0,0);
}

.portfolioContent, .cultureContent, .officeContent, .clientContent, .newsContent {
	//margin-top: 1.2em;
	display:inline-block;
	
	.in-view {
		opacity: 1;
		transform:scale(1);
		transition: opacity 1s 50ms, transform 1s 50ms;
	}
	
	.in-view + .arrow {
		opacity: 1;
	}
	
	.in-view + .bgOverlay {
		opacity: 1;
	}

	.col-2-by-1 {
		width:49%;
	}
}
.cultureContent{
	width:100%;
}

h1 {
	margin: 0;
	
	&.sectionHeading {
		font-family: 'Din-Bold', sans-serif;
		font-size: 1.8em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		letter-spacing: 0.04em;
		line-height: 1;
		text-align: center;
		
		&.whiteText {
			color: $textWhite;
		}
	}
	
	&.sectionHeadingSmall {
		cursor: default;
		font-family: 'Din-Regular', sans-serif;
		font-size: 2.5em;
		font-weight: lighter;
		color: $sectionHeadingColor;
		text-align: center;
		line-height: 1.1;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		
		@media screen and (min-width: 768px) {
			font-size: 3.5em;
		}
	}
	
	&.joinTeamCTA {
		font-size: 1.5em;
		text-align: center;
	}
	
	&.latestNews {
		color: #ffffff;
	}
}


.projectTile {
	background-color: #ffffff;
	position: relative;
	width: 49%;
	height:	auto;
	margin: .5%;
	overflow: hidden;
	float:left;
	transition: margin 300ms, height 300ms;
	min-height:150px;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	a {
		display: block;
		cursor: pointer;
		color:white;
		picture{
			position:relative;
			top:0;
			left:0;
			transition: top .3s .2s, left .3s .2s;
		}
		
		.prjDescription {
			display: flex;
			flex-flow: column;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			left: 0;

			.cultureArrow {
			    position: absolute;
			    width: 0%;
			    height: 0%;
			    bottom: 0;
			    right: 0;
			    border-left: 0 solid transparent;
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
			    border-bottom: 0 solid transparent;
				z-index: 1;

				transition: border-top 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			.prjDscrWrap {
				z-index: 2;
				opacity: 0;
				top: 10%;
				position: relative;
				transition: top 300ms, opacity 300ms;
				
				h2 {				
					font-family: 'Din-Bold', sans-serif;
					text-transform: uppercase;
					font-size: 1.4em;
					line-height: 1.1;
				}
		
				p {
					margin-top: 0.3em;
					margin-bottom: 0;
					display:none;
				}
			}	
		}
		
		&:hover,&:active,&:focus {
			.prjDescription {
				
				.cultureArrow {
					border-top: 1500px solid transparent;
					border-right: 1500px solid #46ccc5;
				}
	
				.prjDscrWrap {
					top: 0;
					opacity: 1;
					transition: top 300ms 200ms, opacity 300ms 200ms;
				}
			}
		}
	}
}

.newsTile {
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	transition: margin 300ms, width 300ms, height 300ms;
	float:left;
	height:auto;
	display: inline-block;
	font-size: 0.8em;
	
	&.notLoaded {
		display:none;
	}
	
	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	a {
//		display: inline-block;
		cursor: pointer;
		
		.pictureWrap {
			width: 100%;
//			height: 100%;
			position: relative;

			.prjDescription {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 200;
				
				.prjDscrWrap {
					
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: 100%;
					width: 80%;
					margin: 0 10%;
						
					h3 {
						font-size: 0.8em;
						margin: 0;
						color: #46ccc5;
						text-transform: uppercase;
					}
			
					p {
						margin-top: 0.20em;
						color: #ffffff;
						font-size: 0.8em;
						padding: 1em;
					}
				}
			}

			.bgOverlay {
				background-color: rgba(0, 0, 0, 0.6);
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 100;
			}
				
			.articleLink {
				display: flex;
				flex-flow: column;
				justify-content: center;
				flex-wrap: nowrap;
				position: absolute;
				width: 100%;
				height: 100%;
				color: #ffffff;
				text-align: center;
				
				.articleLinkWrap {
					z-index: 400;
				    opacity: 0;
				    top: 10%;
				    position: relative;
					transition: top 300ms, opacity 300ms;
					
					p {
						margin: 0;
					}
					
					h2 {
						margin: 0;
						text-transform: uppercase;
					}
				}
				
				.linkOverlay {
				    position: absolute;
				    width: 0%;
				    height: 0%;
				    bottom: 0;
				    right: 0;
				    border-left: 0 solid transparent;
				    border-top: 0px solid transparent;
				    border-right: 0px solid #46ccc5;
				    border-bottom: 0 solid transparent;
				    z-index: 300;
				    transition: border-top 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 600ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
				}
			}
			
			picture{
				display: block;
				position:relative;
				top:0;
				left:0;
				transition: top .3s .2s, left .3s .2s;
			}
		}
		
		&:hover {
			.pictureWrap {				
				.articleLink {
					
					.articleLinkWrap {
						opacity: 1;
						top: -5%;
						transition: top 300ms 400ms, opacity 300ms 400ms;
					}	
					
					.linkOverlay {
					    border-top: 800px solid transparent;
					    border-right: 800px solid #46ccc5;
					}
				}
			}
		}
	}
}


.cultureTile {
	color:white;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	transition: margin 300ms, width 300ms, height 300ms;
	float:left;
	height:auto;
	min-height:150px;
	a,a:visited,a:hover{color:white;}
	&.notLoaded {
		display:none;
	}

	&.notShowing {
		margin:0;
		height:0!important;
	}
	
	&.col-2-by-1 {
		width:99%;
	}
	
	picture {
		margin-left:0;
		transition: margin 300ms;
	}
	
	.bio {
		//color:white;
		pointer-events: none;
		opacity:0;
		position: absolute;
		top:20px;
		text-align: center;
		
		.inner{
			.quote {
				font-size: 1em;
				font-family: 'Din-Light', sans-serif;
			    line-height: 1.25;
				margin-top:0;
			}
			
			hr{
				border-top:1px solid #45beb9;
				margin:.75em 0 .85em;
			}
			
			.name {
				font-size: 1.3em;
				font-family: 'Din-Regular', sans-serif;
				text-transform:uppercase;
				margin:0 0 -.25em;
			}
			
			.title {
				font-size: 0.7em;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				font-style:italic;
				text-transform:uppercase;
				margin:0;
				
			}
			
			/*p{
				margin-top:.5em;
				margin-bottom:0;
				font-size:1.5em;
				font-family: 'Din-Regular', sans-serif;
				//margin-top:0;
				
				&.quote {
					font-size: .7em;
					
					@media screen and (min-width: 425px) {
						font-size: 1em;
					}
				}
				
				.start-quote, .end-quote {
					font-size: 1.5em;
					top: 7px;
				 }
				 
				.quote-info {
					font-size: 0.8em;
				}
			}*/
		}	
	}
	
	.linkedin{
		opacity:0;
		cursor:pointer;
		position:absolute;
		bottom: 7px;
	    right: 32px;
		transform:scale(.85);
		svg {
			fill: white;
		}
	}
	
	.moreinfo{
		opacity:0;
		cursor:pointer;
		position:absolute;
		bottom: 5px;
		right: 4px;
		transform:scale(.85);
		svg {
			fill: white;
		}
	}
	
	.quote{
		line-height:.8;
		text-align:center;
		
		.quote-info{
			font-size:2em;
			text-transform:uppercase;
			font-family: 'Din-Regular', sans-serif;
		}
		.start-quote,.end-quote{
			font-size:5em;
			font-family: 'Din-Regular', sans-serif;
		    position: relative;
		}
		.start-quote{
			top:20px;
		}
		.end-quote{
			top:43px;
		}
		
	}
	
	.byline{
		line-height:1;
		margin:1em auto 0 !important;
		width:50%;
		padding-top:0em;
		
	    &:before{
			content: " ";
		    width: 150px;
		    position: absolute;
		    height: 1px;
		    left: 50%;
			margin-left:-75px;
			margin-top:-0.5em;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(15%, rgba(255,255,255,1)), color-stop(85%, rgba(255,255,255,1)), color-stop(86%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	    }
		
		.name{
			text-transform:uppercase;
//			font-size:1em;
			font-family: 'Din-Bold', sans-serif;
			position:relative;		
		}
		
		.title{
			font-style:italic;
//			font-size:.9em;
			font-family: 'Din-Regular', sans-serif;
			position:relative;
		}
	}
	
	.closeCulture{
		position: absolute;
		top: 5px;
		right: 5px;
		transform:scale(.85) rotate(45deg);
		cursor: pointer;
		opacity:0;
		
		svg {
			fill: white;
		}
	}
	
	&.stretchOut {
		will-change: width, margin;		
		width: 99%;
		transition: margin 300ms 300ms, width 300ms 300ms;
		
		.cultureLink{
			z-index:0;
		}
		
		.bio {
			opacity: 1!important;
			transition: opacity 500ms 500ms,top 500ms 500ms;
			transform: translate3d(0,0,0);
			
			top: 0;
			z-index: 10;
			width: 100%;
			height: 100%;

			.inner{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 85%;
				margin: 0;
			}	
		}

		.linkedin,.closeCulture,.moreinfo{
			opacity: 1;
			transition: opacity 500ms 750ms;
			z-index: 20;
		}
		
		.arrow {
	    	border-top: 2000px solid transparent !important;
	    	border-right: 2000px solid #46ccc5 !important;
			transition: width 500ms, height 500ms, border-top 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55), border-right 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			
			.moreArrow {
				display: none;
			}
		}
	}
	
	&.shrinkMe {
		will-change: width, margin;
		width: 0%;
		margin-left: 0;
		margin-right: 0;
		transition: margin 300ms 300ms, width 300ms 300ms;
		
		&.col-2-by-1 {
			width:24%;
		    margin: 0.5%;
		}
		
		picture{
			margin-left:-50%;
			transition: margin 300ms 300ms;
		}
	}
	
	.cultureLink {
		display: block;
		cursor: pointer;
		z-index:20;
		position:relative;
		
		.bio {
			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
			z-index: 9999;
			position: absolute;
		
			opacity: 0;
			transition: opacity 500ms;
		
			p {
				position: relative;
				top: 10%;
				transition: top 500ms 300ms;
			}
		}
		
		.arrow {
		    position: absolute;
		    width: 0%;
		    height: 0%;
		    bottom: 0;
		    right: 0;
		    border-left: 0 solid transparent;
		    border-top: 50px solid transparent;
		    border-right: 50px solid #46ccc5;
		    border-bottom: 0 solid transparent;
			opacity: 0;
			z-index: 2;
			
			transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-right 475ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			
			&.offTile{
			    border-top: 0px solid transparent;
			    border-right: 0px solid #46ccc5;
				transition: opacity 500ms 200ms, width 500ms 200ms, height 500ms 200ms, border-top 150ms, border-right 150ms;
			}
		
			.moreArrow {
			    position: absolute;
			    z-index: 100;
			    top: -1.5625em;
			    left: 1.87em;
				transform: rotateZ(-90deg);
				transition: left 400ms 90ms;
			}
			
			&.showDetails{
				opacity:1;
			}
		}
		
		&:hover,&:focus { 
			.arrow {
		    	border-top: 75px solid transparent;
		    	border-right: 75px solid #46ccc5;
				
				.moreArrow {
				    left: 3.0em;
				}
			}		
		}
	}
}

#offices{
	color:white;
	#officeDetails {
		color:white;
		display: block;
		opacity:0;
		width: 100%;
		height: 0em;
		position:relative;
		overflow:hidden;
		transition: height 300ms 500ms,opacity 300ms;
		
		a{
			color:white;
		}
	
	.leftSide {
		float: none;
		width: 100%;
		display: block;
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
		overflow: hidden;
		z-index:0;
		position:relative;
		
		picture {
			.lazyload {
				opacity: 0;
				transition: opacity 500ms;
			}
		}
	}

	.rightSide {
		float: none;
		width: 99%;
		padding: 0 2%0;
		display: block;
		z-index:2;
		outline:none;
	}
	
	.closeMe{
		position: absolute;
		top: 10px;
		right: 10px;
		transform: rotateZ(45deg);
		cursor: pointer;
		z-index:2;
		
		svg {
			fill: white;
		}
	}
		
	h3 {
		color: $skyblueColor;
		font-family: 'Din-Bold', sans-serif;
		font-size: 2.5em;
		line-height: 0;
		position: relative;
		text-align: center;
		margin: 0;
		top: 2em;
		opacity: 0;
		transition: top 1s, opacity 10ms;
		z-index: 2;	
	}
	
	.ribbon {
		padding-top: 1em; //2em;
		padding-bottom: 0;//2em;
		position: relative;
		height: 0%;
		transition: height 500ms, top 0s;
		z-index:2;
		
		.info {
			opacity: 0;
			transition: opacity 500ms;
			text-align: center;
			
			h4{
				font-family: 'Din-Bold', sans-serif;
			    font-weight: 300;
				font-size: 1.5em;
				padding: 0;
				margin: .5em 0 0em 0.5em;
			}
		}
		
		&::after, &::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0%;
			min-width: 1000%;
			height: inherit;
			background-color: $skyblueColor;
			z-index: -1;
		}
		
		&::before {
			left: -500%;
		    min-width: 500%;
		}
	}
	
	.officeStats {
		display:block;
		
		margin-top: 1.5em;
		opacity: 0;
		transition: opacity 500ms;
//		margin-bottom: -3em;
		margin-left:-1%;
		width:100%;
		position:relative;
		
		div {
			display: inline-block;
			text-align: center;
			width:48%;
			@media screen and (min-width: 376px) {
				width:23%;
			}
			float:left;
			margin: 0 1% 1em;
			
			.statCount {
				color: $skyblueColor;
				font-family: 'Din-Bold', sans-serif;
				font-weight: bolder;
				font-size: 1.5em;
				margin-top: 0;
				margin-bottom: -.1em;
			}
			
			.statLabel {
				color: $skyblueColor;
				font-family: 'Din-Regular', sans-serif;
				font-weight: lighter;
				font-size: 1em;
				margin-top: 0;
				margin-bottom: 0;
				text-transform:uppercase;
			    line-height: 1.2em;
			}
		}
	}
	
	&.removed {
		opacity:0!important;
	}
	
	&.showDetails {
		opacity:1;
		overflow:visible;
		h3 {
			opacity: 1;
			top: 0em;
			transition: top 1s 600ms, opacity 1ms 600ms;
			//added
			font-size:3em;
			top:-13px;
			
			&.long {
				font-size: 2.4em;
				top: -10px;
			}
		}
		
		.ribbon {
			height: 100%;
			transition: height 300ms 300ms,top 5s;
			top:0px;
			
			&.moving{
				top:1px;
				transition: height 300ms 300ms,top 0s;
			}
			
			.info {
				font-size: 0.9em;
				opacity: 1;
				transition: opacity 500ms 600ms;
				//added
				position:relative;
				top: -5px;
				text-align:left;
				left:5px;
				//@media screen and (min-width: 768px){
//					left:0px;
//				}
				
				p{
					width:35%;
					display:block;
					margin: .5em 0 .9em;
					width:100%;
					
					a{
						display: inline-block;
						text-decoration:none;
				
						.office-icon {
							display: inline;
							padding:0em 0.5em;
							float: left;
							padding:0;
							
						}
						.office-content {
							padding-left: 8px;
							display: inline-block;
						}
					}
					
					&.info-address{
						font-size:1.1em;
						margin-top:.5em;
						width:100%;
						margin-bottom: 0.5em;
						max-width:none;
					}
				}
			}
		}
		
		.officeStats {
			opacity: 1;
			transition: opacity 500ms 500ms;
		}
		
		.leftSide {
			
			picture{
				.lazyloaded {
					transform: scale(1);
					opacity: 1;
					transition: opacity 500ms 600ms;
				}
			}
		}
	}
}
}




.officeTile {
	background-color: #ffffff;
	position: relative;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	float:left;
	min-height:150px;
	a {
		cursor: pointer;
		display: block;
		color:white;
		&:hover,&.active,&:focus {
			
			background-color: #46ccc5;
			transition: opacity 300ms;
			
			.bgOverlay, picture {
				opacity: 0;
			}
			
			svg {
				
				circle.clockHours {
					stroke: #DEE2EA;
				}
			}
		}
	}
	
	.bgOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
	    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0.2) 1px,transparent 100%);
		background-repeat: repeat;
		-webkit-background-size: 3px 3px;
		-moz-background-size: 3px 3px;
		background-size: 3px 3px;	
		z-index: 0;
	}
	
	.lazyload {
		opacity: 1;
		transition: opacity 300ms;
	}
	
	.officeInfo {
		display: flex;
		flex-flow: column;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 300ms;
		
		&.showDetails{
			opacity:1;
		}
					
		svg {
			display: none;
		}
		p{
			line-height: 0.8;
			margin-bottom: 0.4em;
			margin-top: 0;
			&.cityName{
				font-size:1em;
				font-family: 'Din-Regular', sans-serif;
				z-index:1;
			}
			&.cityTime{
				font-size:.8em;
				font-family: 'Din-Regular', sans-serif;
				z-index:1;
			}
		}
	}		
}


//@media screen and (min-width: 320px){
//
//	h1 {
//		margin: 0;
//
//		&.sectionHeading {
//			margin-top: 1em;
//			margin-bottom: 1em;
//		}
//	}
//}

@media screen and (min-width: 414px){
	
	h1 {
		&.sectionHeading {
			font-size: 2.5em;
		}
		&.joinTeamCTA, &.latestNews {
			margin-top: 1em;
			font-size: 2em;
		}
	}
	.cultureTile {
		.bio {
			.inner{
				.quote {
					font-size: 1.4em;
					margin-bottom: 0.25em;
				}
				hr{
					margin:.75em 0 .85em;
				}
				.name {
					font-size: 1.3em;
					margin:0 0 -.25em;
				}
				.title {
					font-size: 0.7em;
				}
			}
		}
	}
	#careers{
		a.button{
			font-size:1em;
		}
	}
	
}


@media screen and (min-width: 768px) {
	
	#work, #culture {
		min-height: 500px;
	}

	#offices {
		min-height: 500px;

		#officeDetails {
			.leftSide {
				float: left;
				width: 49%;
				display: inline-block;
				padding-top: 0em;
				padding-right: 0.5%;
				padding-left: 0.5%;
				overflow: hidden;
				z-index:3;

				.leftSide {
					picture {
						.lazyload {
							opacity: 0;
						}
					}
				}
			}

			.rightSide {
				float: left;
				width: 45%;
				padding: 2.5em .5% .5% 3%;
			
				display: inline-block;
			}
			
			.closeMe{
				top:50px;
			}
		
			&.showDetails {
				
				h3{
					font-size: 3.6em;
					top: -15px;
					&.long {
						font-size: 3em;
						top: -13px;
					}
				}
			
				.leftSide {
					picture {
						.lazyloaded {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				.ribbon {
					.info{
						text-align:left;
						top: -.5em;
						h4{
							font-size:1em;
							margin-top: 1em;
							font-weight: bolder;
						}
						p {
							width:100%;
							margin-bottom:1em;
							max-width:none;
							
							a{
								.office-icon {
									display: inline-block;
									float: left;
//									padding:4px;
									border:none;
								}
								.office-content {
									padding-left: 8px;
									display: inline-block;
								}
							}
							&.info-address{
								font-size:1em;
								margin-top:1em;
								.office-icon,.office-content{display:inline-block;}
							}
						}
						
					}
				}
			}
		
			h3 {
				font-size: 4.5em;
				text-align: left;
			
				.abbr {
					display: none;
				}
			}
			
			.officeStats {
				display:inline-block;
				margin: 1.5em .5em 0 -1em;
				div {
					width: 24%;
					margin: 0 .5% 0;
					h4 {
						font-size: 2em;
						margin-bottom: -.25em;
					}
				}
			}
		}
	}

	#careeres {
		min-height: 200px;
		padding-top: 2.5em;
	}
	#careers {
		padding:3em 5% 5em;
	}
	
	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 4em;
			font-weight: lighter;
			color: $sectionHeadingColor;
			letter-spacing: 0.04em;
			line-height: 1;
		}
		
		&.joinTeamCTA, &.latestNews {
			text-align: center;
			font-size: 2.5em;
		}
	}

	.projectTile {
		width: 24%;
		
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {
						font-family: 'Din-Bold', sans-serif;			
						font-size: 1.5em;
						margin-bottom: 0;
					}
					
					p {
						font-family: 'Open Sans', sans-serif;
					    font-weight: 300;
						font-size: 1em;
						margin-top: 0;
					}
				}	
			}
			&:hover,&:active, &:focus {
				.prjDescription {
					.prjDscrWrap {
						top: -5%;
					}
				}
			}
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	
	.cultureTile {
		width: 24%;
		
		.byline {
			margin: 1.5em auto 0 !important;
			
			&::before {
				margin-top: -0.75em;
			}
		}
		
		.bio {
			.inner{
				width:80%;
				
				.quote {
					font-size: 1em;
				    line-height: 1.25;
				}
				hr{
					margin:.75em 0 .85em;
				}
				.name {
					font-size: 1.3em;
					margin:0 0 -.25em;
				}
				.title {
					font-size: 0.7em;
				}
			}
		}

		.closeCulture{
			svg {
				fill: white;
			}
		}

		&.stretchOut {
			width: 49%;
		}
		
		&.col-2-by-1 {
			width:49%;
		}
	}
	

	
	.officeTile {
		width: 32.3%;
	
		.officeInfo {			
			.cityName {
				text-transform: uppercase;
				font-size: 1.25em;
			}
			
			.cityTime {
				font-size: 1.1em;
			}

			svg {			
				display: block;
				margin: 0 auto;
				overflow: visible;

				&.clockGraphic {
					width: 150px;
					transform: scale(0.8);
				    margin-top: 5%;
				    margin-bottom: 0%;
				}
			}
			
			p {
				margin-top: 0;
				line-height: 0.75;
			}
		}
	}
	
	#news{
		.newsContent{
			.newsTile{
				width: 32.3333333%; 
			}
		}
	}
}
@media screen and (min-width:960px) {
	.cultureTile {
		.bio {
			.inner{
				width:80%;
			
				.quote {
					font-size: 1.2em;
				}
				/*hr{
					margin:.75em 0 .85em;
				}
				.name {
					font-size: 1.3em;
					margin:0 0 -.25em;
				}
				.title {
					font-size: 0.7em;
				}*/
			}
		}
	}
}

@media screen and (min-width:1024px) {

	.container {
		max-width: 80%;
		margin: 0 auto;
	}
	
	h1 {
		&.sectionHeading {
			font-size: 5em;
		}
	}
	.projectTile {
		
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {		
						font-size: 1.875em;
					}
					p {
						display:block;
					}
				}	
			}
		}
	}
	
	#work {
		padding-top: 1.5em;
	}
	
	#news{
		background-color: #6d7075;
		.sectionHeading{
			color:white;
		}
		.newsContent{
			.newsTile{
				width: 15.6666666667%;
		
				a {
					display: inline-block;
					cursor: pointer;
		
					.pictureWrap {
						.prjDescription {
							.prjDscrWrap {
								p {
									margin-top: 0.10em;
									color: #ffffff;
									padding: 1em;
								}
							}
						}
					}
				}
			}
		}
	}
		
	.officeTile {
		width: 24%;
	
		.officeInfo {			
			.cityName {
				font-size: 1.25em;
			}
			
			.cityTime {
				font-size: 1.1em;
			}
			
			svg {

				&.clockGraphic {
					width: 150px;
				    transform: scale(0.8);
				    margin-top: 0%;
				    margin-bottom: 1%;
				}
			}
		}
	}
	
	
}

@media screen and (min-width:1440px) {
	
	.cultureTile {
		.bio {
			.inner{
				.quote {
					font-size: 1.5em;
				}
			}
		}
	}
	
	#officeDetails {
		h1 {
			font-size: 4.5em;
		}
	}
	
	#careers {
		padding:5em 5%;
	}
}

@media screen and (min-width: 1900px) {
	#work {
		padding-top: 2em;
	}
	
	.container {
		max-width: 80%;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
	
		&.sectionHeading {
			font-family: 'Din-Bold', sans-serif;
			font-size: 6em;
			font-weight: lighter;
			color: $sectionHeadingColor;
		}
		
		&.joinTeamCTA, &.latestNews {
			text-align: center;
		}
	}
	
	.projectTile {
		width: 15.6666666%;
		max-height: 39em;
	
		a {
			.prjDescription {
	
				.prjDscrWrap {
				
					h2 {				
						font-size: 2em;
					}
				}	
			}
		}
		
		&.col-2-by-1 {
			width:32.3%;
		}
		
		&.isShowcaseFinal {
			width:32.3%;
		}
	}
	
	.cultureTile {
		width: 15.6666666%;
		max-height: 20em;
		margin: 0.5%;
		
		.bio {
			.inner{
				.quote {
					font-size: 1.3em;
				}
			}
		}
		
		&.col-2-by-1 {
			width:32.33333%;
		}
		
		&.stretchOut {
			width: 32.33333%;
			
			.arrow {
		    	border-top: 2000px solid transparent;
		    	border-right: 2000px solid #46ccc5;
				transition: width 500ms, height 500ms, border-top 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55), border-right 475ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			
				.moreArrow {
					display: none;
				}
			}
		}
	}

	#officeDetails {
		h1 {
			font-size: 6em;
			
			.abbr {
				display: inline-block;
			}
		}
	}
	
	.officeTile {
		width: 15.6666666%;//19%;
		max-height: 39em;	

		.officeInfo {
			svg {
				&.clockGraphic {
					margin-top: 1.5em;
				}
			}
		}
	}	
	
	#news{
		.newsContent{
			.newsTile{
				width: 15.6666666%;//12.5%; //leave as 6 across until we get more content
				
				h2 {
					font-size: 0.8em;
				}
				
				p {
					font-size: 0.8em;
				}
			}
		}
	}
	
}


