/* TERMS & PRIVACY */
#terms{
	max-width:1280px;
	
	h1{
		color:$skyblueColor;
		text-transform:uppercase;
		font-size:2em;
		font-family: 'Din-Bold', sans-serif;
		line-height:1em;
	}
	h2{	
		color:$skyblueColor;
		text-transform:uppercase;
		font-family: 'Din-Bold', sans-serif;
		//font-style:italic;
		font-size:1em;
		margin-top:0;
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
	#terms{
		max-width:80%;
	}
}