# AuthType Basic
# AuthName "Restricted Files"
# AuthUserFile /var/www/courtyardmarriott-stage/.htpasswd
# Require valid-user

# Caching
<ifmodule mod_expires.c>
    ExpiresActive on
		ExpiresByType image/jpeg "now plus 2 weeks"
		ExpiresByType image/jpg "now plus 2 weeks"
		ExpiresByType image/gif "now plus 2 weeks"
		ExpiresByType image/png "now plus 2 weeks"
        ExpiresByType image/svg+xml "now plus 2 weeks"
		ExpiresByType text/css "now plus 1 week"
		ExpiresByType text/javascript "now plus 1 week"
		ExpiresByType application/javascript "now plus 1 week"
		ExpiresByType application/x-javascript "now plus 1 week"
		ExpiresByType application/pdf "now plus 2 weeks"
		ExpiresDefault "now plus 1 day"
</ifmodule>

# Gzip
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript application/json image/svg+xml
</ifmodule>

#ie8 background size

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

AddType text/x-component .htc


<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    # Checks to see if the user is attempting to access a valid file,
    # such as an image or css document, if this isn't true it sends the
    # request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?p=/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Without mod_rewrite, route 404's to the front controller
    ErrorDocument 404 /index.php
</IfModule>