{{#each objects}}
<div class="subpageHeader parallaxHeader">
	<div id="heroImage">
		<picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="../assets/img/case_studies/{{{csHero}}}_large.jpg, ../assets/img/case_studies/{{{csHero}}}_large@2x.jpg 2x" media="(min-width: 768px)">
			<source srcset="../assets/img/case_studies/{{{csHero}}}.jpg, ../assets/img/case_studies/{{{csHero}}}@2x.jpg 2x">
            <!--[if IE 9]></video><![endif]-->
            <!--[if !lte IE 9]> -->
            <img srcset="../assets/img/case_studies/{{{csHero}}}.jpg" src="../assets/img/common/blank.png" alt="' . $alt . '">
            <!-- <![endif]-->
           
        </picture>
	</div>

	<div class="videoHolder"></div>
	<div class="videoCloseButton shadow">
		<a class="videoClose">
			<svg class="icon more_button-inline" role="img" aria-labelledby="title">
			  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#more_button"></use>
			</svg>
		</a>
	</div>
	
</div>

<div class="contentWrapper" id="caseStudyWrapper" style="background:white;">
	<section class="workContainer">
	<div class="subnav left"><a href="/work" id="subnav-prev"><span class="prev_arrow">
		<svg class="icon menu_dropdown_arrow-inline" role="img" aria-labelledby="title">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu_dropdown_arrow"></use>
		</svg></span>View All Work</a>
	</div>
	<div class="workHeadline">
		<h1>{{{csTitle}}}</h1>
		<p>Client: {{{csClient}}}</p>
		<p>Office: {{{csOffice}}}</p>
	</div>
	<div class="workDetails">
		<div class="workRight">
			{{#if csVideos}}
			<div class="workThumbs">
				{{#each csVideos}}
					<div class="workThumb">
						<a data-content="144913605" data-tracking-label="{{{csTitle}}}|Click|{{{vidTitle}}}" aria-label="">
							<img src="../assets/img/case_studies/{{{vidImgSrc}}}.jpg" alt="">
							<div class="playButton">
								<svg class="icon playbutton-inline" role="img" aria-labelledby="title">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playbutton"></use>
								</svg>
							</div>
							<figcaption class="prjDescription">
								<div class="prjDscrWrap">
									<h3>{{{vidTitle}}}</h3>
								</div>
								<div class="cultureArrow"></div>
							</figcaption>
						</a>
					</div>
				{{/each}}
				<!-- <div class="workThumb">
					<a data-content="144913605" data-tracking-label="Intel|Click|Video1" aria-label="">
						<img src="../assets/img/work_pages/intel_thumb01.jpg" alt="">
						<div class="playButton">
							<svg class="icon playbutton-inline" role="img" aria-labelledby="title">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playbutton"></use>
							</svg>
						</div>
						<figcaption class="prjDescription">
							<div class="prjDscrWrap">
								<h3>Jump man</h3>
							</div>
							<div class="cultureArrow"></div>
						</figcaption>
					</a>
				</div>
				<div class="workThumb">
					<a data-content="144913607" data-tracking-label="Intel|Click|Video2" aria-label="">
						<img src="../assets/img/work_pages/intel_thumb02.jpg" alt="">
						<div class="playButton">
							<svg class="icon playbutton-inline" role="img" aria-labelledby="title">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playbutton"></use>
							</svg>
						</div>

						<figcaption class="prjDescription">
							<div class="prjDscrWrap">
								<h3>Wakey wakey</h3>
							</div>
							<div class="cultureArrow"></div>
						</figcaption>
					</a>
				</div>
				<div class="workThumb">
					<a data-content="119997282" data-tracking-label="Intel|Click|Video3" aria-label="">
						<img src="../assets/img/work_pages/intel_thumb03.jpg" alt="">
						<div class="playButton">
							<svg class="icon playbutton-inline" role="img" aria-labelledby="title">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playbutton"></use>
							</svg>
						</div>
						<figcaption class="prjDescription">
							<div class="prjDscrWrap">
								<h3>In the back seat</h3>
							</div>
							<div class="cultureArrow"></div>
						</figcaption>
					</a>
				</div> -->
			</div>
			{{/if}}
			{{#if website}}
			<div class="websiteButton">
				<a href="{{{website}}}" class="button">VIEW THE WEBSITE <span class="moreArrow">
					<svg class="icon menu_dropdown_arrow-inline" role="img" aria-labelledby="title">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu_dropdown_arrow"></use>
					</svg>
				</span></a>
			</div>
			{{/if}}
		</div>
		<div class="workLeft">{{{csBody}}}</div>
		
	</div>
{{/each}}