{{#each objects}}
<section class="parallaxHeader">	
	<div id="headerWrapper">
		<h1>{{{clientName}}}</h1>
		<!--<a href="/" id="backToHome"><&nbsp;Back</a>-->
	</div>
</section>

<div class="contentWrapper">
	<section class="columnWrapper">
		<p class="topP"><strong>{{{csTitle}}}</strong></p>
		<hr>
		<div class="workHero {{{csHeroType}}}">
			{{#equal csHeroType 'image'}}
				<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
						<source data-srcset="{{#appRoot}}{{/appRoot}}{{{csHero}}}_large.jpg, {{#appRoot}}{{/appRoot}}{{{csHero}}}_large@2x.jpg 2x" media="(min-width: 412px)">
						<source data-srcset="{{#appRoot}}{{/appRoot}}{{{csHero}}}.jpg, {{#appRoot}}{{/appRoot}}{{{csHero}}}@2x.jpg 2x">
				<!--[if IE 9]>
					</video>
				<![endif]-->
				<!--[if !lte IE 9]> -->
					<img src="{{#appRoot}}{{/appRoot}}assets/img/common/blank.png" data-src='{{#appRoot}}{{/appRoot}}{{{csHero}}}@2x.jpg' alt="{{{altText}}}" class="lazyload ll lalzy">
				<!-- <![endif]-->
			{{/equal}}
			{{#equal csHeroType 'vimeo'}}
				<iframe src="https://player.vimeo.com/video/{{{csHeroVideo}}}" width="640" height="360" frameborder="0" autoplay webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			{{/equal}}
			{{#equal csHeroType 'youtube'}}
				<iframe width="640" height="360" src="https://www.youtube.com/embed/{{{csHeroVideo}}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
			{{/equal}}
			<p class="caption">{{{csHeroCaption}}}</p>
		</div>
		<div class="workDetails">
			<p>{{{csOverview}}}</p>
			<div class="portColumns">
					{{#if csResponsibilities}}
					<div class="column">
						<h2>Responsibilities</h2>
						<p>{{{csResponsibilities}}}</p>
					</div>
					{{/if}}

					{{#if csTechnology}}
					<div class="column">
						<h2>Technology</h2>
						<p>{{{csTechnology}}}</p>
					</div>
					{{/if}}

					{{#if csChallenges}}
					<div class="column">
						<h2>Challenges</h2>
						<p>{{{csChallenges}}}</p>
					</div>
					{{/if}}

					{{#if csResults}}
					<div class="column">
						<h2>Results</h2>
						<p>{{{csResults}}}</p>
					</div>
					{{/if}}
			</div>
			
			
			{{#if csAdditionalPics}}
			<div class="morePics">
				
				{{#each csAdditionalPics}}
					<div class="pic">
					<!--[if IE 9]>
						<video style="display: none;"><![endif]-->
							<source data-srcset="{{#appRoot}}{{/appRoot}}{{{imgSrc}}}_large.jpg, {{#appRoot}}{{/appRoot}}{{{imgSrc}}}_large@2x.jpg 2x" media="(min-width: 412px)">
							<source data-srcset="{{#appRoot}}{{/appRoot}}{{{imgSrc}}}.jpg, {{#appRoot}}{{/appRoot}}{{{imgSrc}}}@2x.jpg 2x">
					<!--[if IE 9]>
						</video>
					<![endif]-->
					<!--[if !lte IE 9]> -->
						<img src="{{#appRoot}}{{/appRoot}}assets/img/common/blank.png" data-src='{{#appRoot}}{{/appRoot}}{{{imgSrc}}}@2x.jpg' alt="{{{altText}}}" class="lazyload ll lazy">
				<!-- <![endif]-->
					{{#if caption}}
					<p class="caption">{{{caption}}}</p>
					{{/if}}
						</div>
				{{/each}}
			
			</div>
			{{/if}}
			
			</div>
{{/each}}