{{#each objects}}
	<div class="cultureTile {{#if isDouble}}col-2-by-1{{/if}}">
		{{#if info}}
		<a>
			<div class="bio">
				<p>
				{{ info }}
				</p>
			</div>
			
			<div class="arrow">
				<div class="moreArrow">
					<svg class="icon menu_dropdown_arrow-inline" role="img" aria-labelledby="title">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu_dropdown_arrow"></use>
					  <!--[if lt IE 9]> <img src="assets/img/svg/ie8-fallback/menu_dropdown_arrow.png" alt="menu_dropdown_arrow icon"> <!--<![endif]-->
					</svg>
				</div>	
			</div>
		{{/if}}
			<div class="picHolder">
				<picture>
				<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
						<source data-srcset="{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x">
				<!--[if IE 9]>
					</video>
				<![endif]-->
				<!--[if !lte IE 9]> -->
					<img src="assets/img/common/blank.png" data-src='{{{imgSrc}}}@2x.jpg' alt="{{{altText}}}" class="lazyload ll">
				<!-- <![endif]-->
				</picture>
			</div>
		{{#if info}}
		</a>
		{{/if}}
	</div>
{{/each}}