{{#each objects}}
	<div class="cultureTile {{#if isDouble}}col-2-by-1{{/if}}">
		{{#if info}}
		<a>
			<div class="bio">
				{{ info }}
			</div>
			
			<div class="moreArrow" style="position: absolute; z-index: 9999;">
				<svg class="icon menu_dropdown_arrow" role="img" aria-labelledby="title" ></svg>
			</div>
			<div class="arrow"></div>
		{{/if}}
			<div class="picHolder">
				<picture>
				<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
						<source srcset="{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x">
				<!--[if IE 9]>
					</video>
				<![endif]-->
				<!--[if !lte IE 9]> -->
					<img srcset='{{{imgSrc}}}@2x.jpg' src="img/common/blank.png" alt="{{{altText}}}">
				<!-- <![endif]-->
				<!--[if lte IE 9 ]>
					<img src='{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x' alt="{{{altText}}}">
				<![endif]-->
				</picture>
			</div>
		{{#if info}}
		</a>
		{{/if}}
	</div>
{{/each}}