{{#each objects}}
	<div class="cultureTile {{#if isDouble}}col-2-by-1{{/if}}">
		{{#if info}}
		<a>
			<div class="bio">
				{{ info }}
			</div>
			
			<div class="arrow"></div>
		{{/if}}
			<div class="picHolder">
				<picture>
				<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
						<source srcset="{{{imgSrc}}}.jpg">
				<!--[if IE 9]>
					</video>
				<![endif]-->
				<!--[if !lte IE 9]> -->
					<img srcset='{{{imgSrc}}}.jpg' src="img/common/blank.png" alt="{{{altText}}}">
				<!-- <![endif]-->
				<!--[if lte IE 9 ]>
					<img src='{{{imgSrc}}}.jpg' alt="{{{altText}}}"
				<![endif]-->
				</picture>
			</div>
		{{#if info}}
		</a>
		{{/if}}
	</div>
{{/each}}