{{#each objects}}
	
	<div class="picColumn">
		<div class="picHolder">
			<picture>
				<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
						<source data-srcset="../assets/img/our_culture/{{{imgSrc}}}.jpg, ../assets/img/our_culture/{{{imgSrc}}}@2x.jpg 2x">
				<!--[if IE 9]>
					</video>
				<![endif]-->
				<!--[if !lte IE 9]> -->
					<img src="../assets/img/common/blank.png" data-src='../assets/img/our_culture/{{{imgSrc}}}@2x.jpg' alt="{{{altText}}}" class="lazyload ll-all">
				<!-- <![endif]-->
			</picture>
		</div>
		
		{{#if linkedin}}
			<a href="http://www.linkedin.com/{{{linkedin}}}" target="blank" class="button">VIEW LINKEDIN PROFILE <span class="moreArrow">
				<svg class="icon menu_dropdown_arrow-inline" role="img" aria-labelledby="title">
				  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu_dropdown_arrow"></use>
				</svg>
			</span></a>
		{{/if}}
		
	</div>
	<div class="bioColumn">
		<div>{{{name}}}</div>
		<div>{{{office}}}</div>
		{{#if title}}
		<div>{{{title}}}</div>
		{{/if}}
		<div>{{{bio}}}</div>
		
	</div>
{{/each}}