{{#each objects}}
	<div class="officeTile" data-time-offset='{{{timeDiff}}}'>
		<a data-tracking-label="{{{trackingLabel}}}" href="#">
			<picture>
			<!--[if IE 9]>
				<video style="display: none;"><![endif]-->
					<source data-srcset="{{#appRoot}}{{/appRoot}}{{{imgSrc}}}.jpg, {{#appRoot}}{{/appRoot}}{{{imgSrc}}}@2x.jpg 2x">
			<!--[if IE 9]>
				</video>
			<![endif]-->
			<!--[if !lte IE 9]> -->
				<img data-src='{{#appRoot}}{{/appRoot}}{{{imgSrc}}}@2x.jpg' src="{{#appRoot}}{{/appRoot}}assets/img/common/blank.png" alt="{{{altText}}}" class="lazyload ll">
			<!-- <![endif]-->
			</picture>
			
			
			<div class="officeInfo">
				<div class="bgOverlay"></div>
					
				 <svg class="icon {{{clockImage}}}-inline clockGraphic" role="img" aria-labelledby="title" >
					 <g class="clockLineGroup" transform="translate(0,225) rotate(-90)">
		   				<g>
		   			 		 <circle class="clockHours" cx="150" cy="75" r="75" fill="white" fill-opacity="0.0" stroke="#46ccc5" stroke-width="3.5" />
		   		 		</g>
				 
						<g>
		   			 		<circle class="clockMinutes" cx="150" cy="75" r="70" fill="white" fill-opacity="0.0" stroke="#ffffff" stroke-width="1.5" />
		   		 		</g>
			   	  	</g>
					<use xlink:href="#{{{clockImage}}}"></use>			   	
				 </svg>
			
				<p class="cityName">{{{city}}}</p>
				<p class="cityTime"><time datetime="{{{timeDiff}}}"></time></p>
			</div>
		</a>
		
		<article hidden>
				<!-- <div class="clearfix"> -->
					
					<div class="leftSide">
						<picture>
						<!--[if IE 9]>
							<video style="display: none;"><![endif]-->
							
								<source data-srcset="{{#appRoot}}{{/appRoot}}{{{interiorImage}}}_large.jpg, {{#appRoot}}{{/appRoot}}{{{interiorImage}}}_large@2x.jpg 2x" media="(min-width: 1440px)">
							<source data-srcset="{{#appRoot}}{{/appRoot}}{{{interiorImage}}}_medium.jpg, {{#appRoot}}{{/appRoot}}{{{interiorImage}}}_medium@2x.jpg 2x" media="(min-width: 768px)">
							<source data-srcset="{{#appRoot}}{{/appRoot}}{{{interiorImage}}}.jpg, {{#appRoot}}{{/appRoot}}{{{interiorImage}}}@2x.jpg 2x">
							
						<!--[if IE 9]>
							</video>
						<![endif]-->
						<!--[if !lte IE 9]> -->
							<img src="{{#appRoot}}{{/appRoot}}assets/img/common/blank.png" data-src="{{#appRoot}}{{/appRoot}}{{{interiorImage}}}_medium@2x.jpg 2x" alt="{{{altText}}}" class="lazyload">
						<!-- <![endif]-->
						</picture>
					</div>
				
					<div class="rightSide {{#if longName}}long{{/if}}">
						<h3>{{{city}}}</h3>
						<div class="ribbon">
							
					
							<div class="info">
								{{#if weblink}}
								
								<p class="info-weblink">
									<a href="{{{weblink}}}" target="_blank">
										<span class="office-icon">
											<svg class="icon icon_web-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_web"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_web.png" alt="icon_web icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{weblink}}}</span>
									</a>
								</p>
								{{/if}}								
								
								{{#if address}}
								
								<p class="info-address">
									<a href="{{{directions}}}" target="_blank">
										<span class="office-icon">
											<svg class="icon icon_location-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_location"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_location.png" alt="icon_location icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{address}}}</span>
									</a>
								</p>
								{{/if}}
						
								{{#if telephone}}
								<p>
									<a href="tel:{{{telephone}}}">
										<span class="office-icon">
											<svg class="icon icon_phone-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_phone"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_phone.png" alt="icon_phone icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{telephone}}}</span>
									</a>
								</p>
								{{/if}}
						
								{{#if mainEmail}}
								
								<p>
									<a href="mailto:{{{mainEmail}}}">
										<span class="office-icon">
											<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_mail"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{mainEmail}}}</span>
									</a>
								</p>
								{{/if}}
					
								<h4>NEW BUSINESS</h4>
								
								{{#if contactNumber}}
								<p>
								<a href="tel:{{{contactNumber}}}">
									<span class="office-icon">
										<svg class="icon icon_phone-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_phone"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_phone.png" alt="icon_phone icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{contactNumber}}}</span>
								</a>
								</p>
								{{/if}}
								
								{{#if contactEmail}}
								<p>
								
								<a href="mailto:{{{contactEmail}}}">
									<span class="office-icon">
										<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_mail"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{contactEmail}}}</span>
								</a>
								</p>
								{{/if}}
								
								{{#if prEmail}}
								<h4>PUBLIC RELATIONS</h4>
								<p>
								<a href="mailto:{{{prEmail}}}">
									<span class="office-icon">
										<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_mail"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{prEmail}}}</span>
								</a>
								</p>
								{{/if}}
							</div>
						</div>
					
						<div class="officeStats">
							<!-- STAT -->
							{{#if stat1Name}}
							<div>
								<svg class="icon icon_{{{stat1Icon}}}-inline office-stat-icon" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_{{{stat1Icon}}}"></use>
								</svg>
								<h4 class="statCount">{{{stat1Cnt}}}</h4>
								<p class="statLabel">{{{stat1Name}}}</p>
							</div>
							{{/if}}
							
							<!-- STAT -->
							{{#if stat2Name}}
							<div>
								<svg class="icon icon_{{{stat2Icon}}}-inline office-stat-icon" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_{{{stat2Icon}}}"></use>
								</svg>
								<h4 class="statCount">{{{stat2Cnt}}}</h4>
								<p class="statLabel">{{{stat2Name}}}</p>
							</div>
							{{/if}}
							
							<!-- STAT -->
							{{#if stat3Name}}
							<div>
								<svg class="icon icon_{{{stat3Icon}}}-inline office-stat-icon" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_{{{stat3Icon}}}"></use>
								</svg>
								<h4 class="statCount">{{{stat3Cnt}}}</h4>
								<p class="statLabel">{{{stat3Name}}}</p>
							</div>
							{{/if}}
							
							<!-- STAT -->
							{{#if stat4Name}}
							<div>
								<svg class="icon icon_{{{stat4Icon}}}-inline office-stat-icon" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_{{{stat4Icon}}}"></use>
								</svg>
								<h4 class="statCount">{{{stat4Cnt}}}</h4>
								<p class="statLabel">{{{stat4Name}}}</p>
							</div>
							{{/if}}
						</div>
					</div>
				
					<a href="#" class="closeMe {{#if longName}}long{{/if}}">
						<svg class="icon more_button-inline" role="img" aria-labelledby="title">
						  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#more_button"></use>
						</svg>
					</a>
			<!-- </div> -->

		</article>
	</div>
{{/each}}