{{#each objects}}
	<div class="officeTile" data-time-offset='{{{timeDiff}}}'>
		<a data-tracking-label="{{{trackingLabel}}}">
			<picture>
			<!--[if IE 9]>
				<video style="display: none;"><![endif]-->
					<source data-srcset="{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x">
			<!--[if IE 9]>
				</video>
			<![endif]-->
			<!--[if !lte IE 9]> -->
				<img data-src='{{{imgSrc}}}@2x.jpg' src="assets/img/common/blank.png" alt="{{{altText}}}" class="lazyload ll">
			<!-- <![endif]-->
			</picture>
			
			
			<div class="officeInfo">
				<div class="bgOverlay"></div>
					
				 <svg class="icon {{{clockImage}}}-inline clockGraphic" role="img" aria-labelledby="title" >
					 <g class="clockLineGroup" transform="translate(0,225) rotate(-90)">
		   				<g>
		   			 		 <circle class="clockHours" cx="150" cy="75" r="75" fill="white" fill-opacity="0.0" stroke="#46ccc5" stroke-width="3.5" />
		   		 		</g>
				 
						<g>
		   			 		<circle class="clockMinutes" cx="150" cy="75" r="70" fill="white" fill-opacity="0.0" stroke="#ffffff" stroke-width="1.5" />
		   		 		</g>
			   	  	</g>
					<use xlink:href="#{{{clockImage}}}"></use>			   	
				 </svg>
			
				<p class="cityName">{{{city}}}</p>
				<p class="cityTime"><time datetime="{{{timeDiff}}}"></time></p>
			</div>
		</a>
		
		<article hidden>
				<div class="clearfix">
					
					<div class="leftSide">
						<picture>
						<!--[if IE 9]>
							<video style="display: none;"><![endif]-->
							
								<source data-srcset="{{{heroImage}}}_large.jpg, {{{heroImage}}}_large@2x.jpg 2x" media="(min-width: 1440px)">
							<source data-srcset="{{{heroImage}}}_medium.jpg, {{{heroImage}}}_medium@2x.jpg 2x" media="(min-width: 768px)">
							<source data-srcset="{{{heroImage}}}.jpg, {{{heroImage}}}@2x.jpg 2x">
							
						<!--[if IE 9]>
							</video>
						<![endif]-->
						<!--[if !lte IE 9]> -->
							<img src="assets/img/common/blank.png" data-src="{{{heroImage}}}_medium@2x.jpg 2x" alt="{{{altText}}}" class="lazyload">
						<!-- <![endif]-->
						</picture>
					</div>
				
					<div class="rightSide">
						<h3>{{{city}}}</h3>
						<div class="ribbon">
							
					
							<div class="info">
								{{#if weblink}}
								
								<p class="info-weblink">
									<a href="{{{weblink}}}" target="_blank">
										<span class="office-icon">
											<svg class="icon icon_web-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_web"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_web.png" alt="icon_web icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{weblink}}}</span>
									</a>
								</p>
								{{/if}}								
								
								{{#if address}}
								
								<p class="info-address">
									<a href="http://maps.google.com" target="_blank">
										<span class="office-icon">
											<svg class="icon icon_location-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_location"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_location.png" alt="icon_location icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{address}}}</span>
									</a>
								</p>
								{{/if}}
						
								{{#if telephone}}
								<p>
									<a href="tel:{{{telephone}}}">
										<span class="office-icon">
											<svg class="icon icon_phone-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_phone"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_phone.png" alt="icon_phone icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{telephone}}}</span>
									</a>
								</p>
								{{/if}}
						
								{{#if mainEmail}}
								
								<p>
									<a href="mailto:{{{mainEmail}}}">
										<span class="office-icon">
											<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
											  <use xlink:href="#icon_mail"></use>
											  <!--[if lt IE 9]>
												  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
											</svg>
										</span>
										<span class="office-content">{{{mainEmail}}}</span>
									</a>
								</p>
								{{/if}}
					
								<h4>NEW BUSINESS</h4>
								
								{{#if contactNumber}}
								<p>
								<a href="tel:{{{contactNumber}}}">
									<span class="office-icon">
										<svg class="icon icon_phone-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_phone"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_phone.png" alt="icon_phone icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{contactNumber}}}</span>
								</a>
								</p>
								{{/if}}
								
								{{#if contactEmail}}
								<p>
								
								<a href="mailto:{{{contactEmail}}}">
									<span class="office-icon">
										<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_mail"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{contactEmail}}}</span>
								</a>
								</p>
								{{/if}}
								
								{{#if prEmail}}
								<h4>PUBLIC RELATIONS</h4>
								<p>
								<a href="mailto:{{{prEmail}}}">
									<span class="office-icon">
										<svg class="icon icon_mail-inline" role="img" aria-labelledby="title">
										  <use xlink:href="#icon_mail"></use>
										  <!--[if lt IE 9]>
											  <img src="assets/img/svg/ie8-fallback/icon_mail.png" alt="icon_mail icon"> 								  <!--<![endif]-->
										</svg>
									</span>
									<span class="office-content">{{{prEmail}}}</span>
								</a>
								</p>
								{{/if}}
							</div>
						</div>
					
						<div class="officeStats">
							<!-- STAT -->
							<div>
								<svg class="icon icon_employees-inline" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_employees"></use>
								  <!--[if lt IE 9]>
									  <img src="assets/img/svg/ie8-fallback/icon_employees.png" alt="icon_employees icon"> 								  <!--<![endif]-->
								</svg>
								<h4>200+</h4>
								<span>EMPLOYEES<span>
							</div>
							
							<!-- STAT -->
							<div>
								<svg class="icon icon_dogs-inline" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_dogs"></use>
								  <!--[if lt IE 9]>
									  <img src="assets/img/svg/ie8-fallback/icon_dogs.png" alt="icon_dogs icon"> 								  <!--<![endif]-->
								</svg>
								<h4>25</h4>
								<span>DOGS<span>
							</div>
							
							<!-- STAT -->
							<div>
								<svg class="icon icon_windows-inline" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_windows"></use>
								  <!--[if lt IE 9]>
									  <img src="assets/img/svg/ie8-fallback/icon_dogs.png" alt="icon_windows icon"> 								  <!--<![endif]-->
								</svg>
								<h4>306</h4>
								<span>WINDOWS<span>
							</div>
							
							<!-- STAT -->
							<div>
								<svg class="icon icon_grills-inline" role="img" aria-labelledby="title">
								  <use xlink:href="#icon_grills"></use>
								  <!--[if lt IE 9]>
									  <img src="assets/img/svg/ie8-fallback/icon_grills.png" alt="icon_windows icon"> 								  <!--<![endif]-->
								</svg>
								<h4>6</h4>
								<span>GRILLS<span>
							</div>
						</div>
					</div>
				
					<div class="closeMe">
						<svg class="icon more_button-inline" role="img" aria-labelledby="title">
						  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#more_button"></use>
						</svg>
					</div>
			</div>

		</article>
	</div>
{{/each}}