{{#each objects}}
	<div class="officeTile" data-time-offset='{{{timeDiff}}}'>
		<a>
			<picture>
			<!--[if IE 9]>
				<video style="display: none;"><![endif]-->
					<source data-srcset="{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x">
			<!--[if IE 9]>
				</video>
			<![endif]-->
			<!--[if !lte IE 9]> -->
				<img data-src='{{{imgSrc}}}@2x.jpg' src="assets/img/common/blank.png" alt="{{{altText}}}" class="lazyload ll">
			<!-- <![endif]-->
			</picture>
			
			
			<div class="officeInfo">
				<div class="bgOverlay"></div>
					
				 <svg class="icon {{{clockImage}}}-inline clockGraphic" role="img" aria-labelledby="title" >
					 <g class="clockLineGroup" transform="translate(0,225) rotate(-90)">
		   				<g>
		   			 		 <circle class="clockHours" cx="150" cy="75" r="75" fill="white" fill-opacity="0.0" stroke="#46ccc5" stroke-width="3" />
		   		 		</g>
				 
						<g>
		   			 		<circle class="clockMinutes" cx="150" cy="75" r="70" fill="white" fill-opacity="0.0" stroke="#ffffff" stroke-width="2" />
		   		 		</g>
			   	  	</g>
					<use xlink:href="#{{{clockImage}}}"></use>			   	
				 </svg>
			
				<p>
					<span class="cityName">{{{city}}}</span> <br>
					<span class="cityTime"><time datetime="{{{timeDiff}}}"></time></span>
				</p>
			</div>
		</a>
		
		<article hidden>
			<div class="wrap">
				<div class="leftSide">
					<picture>
					<!--[if IE 9]>
						<video style="display: none;"><![endif]-->
							<source srcset="{{{heroImage}}}.jpg, {{{heroImage}}}@2x.jpg 2x">
					<!--[if IE 9]>
						</video>
					<![endif]-->
					<!--[if !lte IE 9]> -->
						<img srcset='{{{heroImage}}}@2x.jpg' src="assets/img/common/blank.png" alt="{{{altText}}}">
					<!-- <![endif]-->
					</picture>
				</div>
				
				<div class="rightSide">
				
					<h1>{{{city}}}</h1>
	
					<div class="ribbon">
					
						<div class="closeMe">
							<svg class="icon more_button-inline" role="img" aria-labelledby="title">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#more_button"></use>
							</svg>
						</div>
					
						<div class="info">
							{{#if address}}
							{{{address}}}
							<br>
							<br>
							{{/if}}
						
							{{#if telephone}}
							{{{telephone}}}
							<br>
							<br>
							{{/if}}
						
							{{#if mainEmail}}
							{{{mainEmail}}}
							<br>
							<br>
							{{/if}}
							<br>
					
							<strong>NEW BUSINESS</strong>
							<br>
							<br>
							{{#if contactEmail}}
							<a href="mailto:{{{contactEmail}}}">{{{contactEmail}}}</a>
							<br>
							<br>
							{{/if}}
						
							{{#if contactNumber}}
							<a href="tel:{{{contactNumber}}}">{{{contactNumber}}}</a>
							<br>
							<br>
							{{/if}}
							<br>
							{{#if prEmail}}
							<strong>PUBLIC RELATIONS</strong>
							<br>
							<a href="{{{prEmail}}}">{{{prEmail}}}</a>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="officeStats">
				<div class="tempSpace" style="height: 5.5em; background-color: #c6c6c6;"></div>
			</div>
		</article>
	</div>
{{/each}}