{{#each objects}}
	<div class="projectTile {{#if isDouble}}col-2-by-1{{/if}}">
		<a>
			<picture>
			<!--[if IE 9]>
				<video style="display: none;"><![endif]-->
					<source srcset="{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x">
			<!--[if IE 9]>
				</video>
			<![endif]-->
			<!--[if !lte IE 9]> -->
				<img srcset='{{{imgSrc}}}.jpg' src="img/common/blank.png" alt="{{{altText}}}">
			<!-- <![endif]-->
			<!--[if lte IE 9 ]>
				<img src='{{{imgSrc}}}.jpg, {{{imgSrc}}}@2x.jpg 2x' alt="{{{altText}}}"
			<![endif]-->
			</picture>
			
			<div class="prjDescription">
				<div>
					{{#if header}}
						<h1>{{{header}}}</h1>
					{{/if}}
					
					<p>{{{description}}}</p>
				</div>
			</div>
		</a>
	</div>
{{/each}}